<div class="content_block">
<!--第一页-->

    <div class="jf_page1_banner">
        <div class="banner_bg">
            <div class="banner_content">
                <!--title-->
                <div class="title">
                    <p>一站式企业福利云平台</p>
                    <p>全场景员工福利服务体系</p>
                </div>
                <!-- 立即注册-->
                <a class="register_btn" data-text="企业登录" href="https://e.jia-fu.cn/register/index" target="_blank">
                    <span>企业注册</span>
                </a>
                <!--分子-->
                <div class="molecule" id="molecule">
                    <div class="line_bg jfMouseMove" data-distanceW="0.2"></div>
                    <div class="small_circle jfMouseMove" data-distanceW="0.4"></div>
                    <div class="mid_circle jfMouseMove" data-distanceW="0.6"></div>
                    <div class="leftone_circle jfMouseMove" data-distanceW="0.8">
                        <div class="advantage1"><p>弹性福利</p></div>
                    </div>
                    <div class="lefttwo_circle jfMouseMove" data-distanceW="0.8">
                        <div class="advantage4"><p>补充医疗</p></div>
                    </div>
                    <div class="leftthree_circle jfMouseMove" data-distanceW="1.2">
                        <div class="advantage2"><p>薪酬代发</p></div>
                    </div>
                    <div class="leftfour_circle jfMouseMove" data-distanceW="0.8">
                        <div class="advantage3"><p>咨询培训</p></div>
                    </div>
                </div>
                <!--ipad-->
                <div class="ipad_bg"></div>
            </div>

        </div>
    </div>

</div>