<div class="content_block content_show">

    <div class="jf_page_add_medical">


        <div class="medical_bg">

            <!--内容-->
            <div class="page_add_content">

                <div class="page_add_title">

                    <div class="title_img"></div>

                    <div class="title_text">补充医疗</div>

                    <div>员工保证无忧、企业稳步发展</div>

                </div>

                <div class="text_main">
                    
                    <div class="box_three">

                        <div class="box">
                            <div class="face">
                                <div>
                                    <img src="images/page_add_one/gift.png">
                                    <div>全新员工福利</div>
                                </div>
                            </div>
                            <div class="back">
                                <div>
                                    <div>保障惠及家庭，由保障个人</div>
                                    <div>到全面覆盖员工家庭。</div>
                                    <div>支持员工为配偶、子女及父母投保，</div>
                                    <div>无社保依然可保；</div>
                                    <div>提高员工福利感知。</div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="face">
                                <div>
                                    <img src="images/page_add_one/add.png">
                                    <div>优选标准套餐</div>
                                </div>
                            </div>
                            <div class="back">
                                <div>
                                    <div>整合多家知名公司产品，</div>
                                    <div>合理搭配优选套餐，</div>
                                    <div>涵盖意外，女性生育、重疾、</div>
                                    <div>补充医疗等多种险种，</div>
                                    <div>更根据预算提供多种高性价比保障组。</div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="face">
                                <div>
                                    <img src="images/page_add_one/plan.png">
                                    <div>企业定制方案</div>
                                </div>
                            </div>
                            <div class="back">
                                <div>
                                    <div>根据您的需求，</div>
                                    <div>精算师为您量身打造</div>
                                    <div>超高性价比方案，</div>
                                    <div>48小时快速设计方案</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="flow">

                        <div class="flow_title">标准服务流程，弥补传统不足</div>

                        <div class="flow_detail">

                            <div class="flow_one">
                                <div>
                                    <div class="background_round"></div>
                                    <div class="icon">
                                        <img src="images/page_add_one/note.png" alt="">
                                    </div>
                                    <div class="introduce">
                                        <div class="title">了解企业需求</div>
                                        <div class="content">站在您的角度，了解您的诉求</div>
                                        <div class="content">结合您的实际情况，进行需求分析</div>
                                    </div>
                                </div>
                            </div>

                            <div class="flow_two">
                                <div>
                                    <div class="background_round"></div>
                                    <div class="icon">
                                        <img src="images/page_add_one/plan_2.png" alt="">
                                    </div>
                                    <div class="introduce">
                                        <div class="title">48小时快速设计方案</div>
                                        <div class="content">根据您的需求，精算师为您</div>
                                        <div class="content">量身打造超高性价比方案，解决您的问题</div>
                                    </div>
                                </div>
                            </div>

                            <div class="flow_three">
                                <div>
                                    <div class="background_round"></div>
                                    <div class="icon">
                                        <img src="images/page_add_one/supplier.png" alt="">
                                    </div>
                                    <div class="introduce">
                                        <div class="title">优选供应商</div>
                                        <div class="content">代表您与保险公司谈判，通过</div>
                                        <div class="content">我们的专业对接，为您争取更多利益</div>
                                    </div>
                                </div>
                            </div>

                            <div class="flow_four">
                                <div>
                                    <div class="background_round"></div>
                                    <div class="icon">
                                        <img src="images/page_add_one/fast_money.png" alt="">
                                    </div>
                                    <div class="introduce">
                                        <div class="title">理赔快</div>
                                        <div class="content">医疗理赔2000元以下免收纸质单据</div>
                                        <div class="content">实时在线理赔，初审通过5个工作日完成赔付</div>
                                    </div>
                                </div>
                            </div>

                            <div class="flow_five">
                                <div>
                                    <div class="background_round"></div>
                                    <div class="icon">
                                        <img src="images/page_add_one/add_person.png" alt="">
                                    </div>
                                    <div class="introduce">
                                        <div class="title">增减员</div>
                                        <div class="content">随时增员减员</div>
                                        <div class="content">按天收费</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    
                </div>

            </div>

        </div>

    </div>

</div>