<div class="content_block">

    <div class="jf_page3_service">
        <div class="service_bg">
            <!-- 内容 -->
            <div class="page3_content">
                <!-- 标题 -->
                <div class="page3_title">
                    <div class="title_img"></div>
                    <div class="title_text">嘉福提供的服务</div>
                </div>
                <!-- 正文 -->
                <div class="text_main">
                    <!--list 1 -->
                    <div class="heart">
                        <div class="content">
                            <p>企业员工福利账户</p>
                            <p>一站式解决企业薪酬福利发放问题。</p>
                        </div>
                        <div class="circle_bg">
                            <div class="icon"></div>
                        </div>
                    </div>
                    <!--list 2 -->
                    <div class="card">
                        <div class="content">
                            <p>信用卡还款</p>
                            <p>信用卡还款助您足不出户，轻松网上</p>
                            <p>还款，支持包括工商银行、招商银行</p>
                            <p>等40多家知名银行。</p>
                        </div>
                        <div class="circle_bg">
                            <div class="icon"></div>
                        </div>
                    </div>
                    <!--list 3 -->
                    <div class="shopping">
                        <div class="content">
                            <p>周边商户卡券消费</p>
                            <p>企业：专款专用、员工满意度。</p>
                            <p>商户：员工日常消费、企业福利带来流量。</p>
                            <p>员工：平台售卡折扣、商家活动、嘉福活动</p>
                            <p>带来优惠。</p>
                        </div>
                        <div class="circle_bg">
                            <div class="icon"></div>
                        </div>
                    </div>
                    <!--list 4 -->
                    <div class="recharge">
                        <div class="content">
                            <p>生活充值</p>
                            <p>嘉福平台对接了多种充值平台，实时</p>
                            <p>到达，简单方便。</p>
                        </div>
                        <div class="circle_bg">
                            <div class="icon"></div>
                        </div>
                    </div>
                    <!--list 5 -->
                    <div class="online">
                        <div class="content">
                            <p>电商精选</p>
                            <p>嘉福平台对接了京东慧采和苏宁易购，定期</p>
                            <p>上架热门商品。嘉福下单，实物到家。</p>
                        </div>
                        <div class="circle_bg">
                            <div class="icon"></div>
                        </div>
                    </div>
                    <!--list 6 -->
                    <div class="coupons">
                        <div class="content">
                            <p>卡券兑换</p>
                            <p>电子卡券：京东E卡、中石化卡、亚马逊、</p>
                            <p>携程卡、天猫超市、爱奇艺等50多种。</p>
                        </div>
                        <div class="circle_bg">
                            <div class="icon"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>