<div class="content_block">
    <div class="jf_page2_welfare">
        <!--  <canvas id="canvas" style="width: 100%;height: 100%"></canvas>-->
        <div class="wave1"></div>
        <div class="wave2"></div>
        <div class="uvs_bg">
            <div class="page2_content">
                <!-- 标题 -->
                <div class="page2_title">
                    <div class="title_img"></div>
                    <div class="title_text">我的福利，我做主</div>
                </div>
                <!-- 文案 -->
                <div class="explain">
                    <p>嘉福弹性福利是指企业确定对每个员工福利的投入的前提下，由员工在福利菜单中选择适合自己的福利，因此也</p>
                    <p>叫菜单式福利。这样企业既控制了总体成本，又使得投入的每一分钱都效用最大化。嘉福通弹性福利的出现，在很大</p>
                    <p>程度上解决企业成本管理和员工满意度的矛盾。</p>
                </div>
                <div class="box_content">
                    <!-- 1 -->
                    <div class="box_point">
                        <div class="square"></div>
                        <div class="box">
                            <div class="box_flip">
                                <!-- font-->
                                <div class="circle_border">
                                    <div class="text">
                                        <p>福利选择一站通</p>
                                        <p>丰富资源高标准筛选告别比价。</p>
                                    </div>
                                    <div class="circle"><img src="images/jf_page2_p1_blue.png"></div>
                                </div>
                                <!-- back -->
                                <div class="circle_back">
                                    <div class="text">
                                        <p>福利选择一站通</p>
                                        <p>丰富资源高标准筛选告别比价。</p>
                                    </div>
                                    <div class="circle"><img src="images/jf_page2_p1.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--2-->
                    <div class="box_point">
                        <div class="square"></div>
                        <div class="box">
                            <div class="box_flip">
                                <div class="circle_border">
                                    <div class="text">
                                        <p>我的福利我做主</p>
                                        <p>全场景福利消费模式轻松自选。</p>
                                    </div>
                                    <div class="circle"><img src="images/jf_page2_p2_blue.png"></div>
                                </div>
                                <!-- back -->
                                <div class="circle_back">
                                    <div class="text">
                                        <p>我的福利我做主</p>
                                        <p>全场景福利消费模式轻松自选。</p>
                                    </div>
                                    <div class="circle"><img src="images/jf_page2_p2.png"></div>
                                </div>
                            </div>
                        </div>
                        <div class="diamond"></div>
                    </div>

                    <!--3-->
                    <div class="box_point">
                        <div class="square"></div>
                        <div class="box">
                            <div class="box_flip">
                                <div class="circle_border">
                                    <div class="text">
                                        <p>福利价值最大化</p>
                                        <p>搭建企业员工桥梁，用心关怀。</p>
                                    </div>
                                    <div class="circle"><img src="images/jf_page2_p3_blue.png"></div>
                                </div>
                                <!-- back -->
                                <div class="circle_back">
                                    <div class="text">
                                        <p>福利价值最大化</p>
                                        <p>搭建企业员工桥梁，用心关怀。</p>
                                    </div>
                                    <div class="circle"><img src="images/jf_page2_p3.png"></div>
                                </div>
                            </div>
                        </div>
                        <div class="diamond"></div>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>

</div>