<div class="content_block">

<div class="jf_page5_why">
    <div class="why_bg">
        <!-- 内容 -->
        <div class="page5_content">
            <!-- 标题 -->
            <div class="page5_title">
                <div class="title_img"></div>
                <div class="title_text">为什么选择嘉福</div>
            </div>
            <!-- 文案 -->
            <div class="explain">
                <p>嘉福弹性福利的出现，在很大程度上解决企业成本管理和员工满意度的矛盾。这样企业既控制了总体成本，又</p>
                <p>使得投入的每一分钱都效用最大化，增加对人才的吸引力。而员工们则有更高的忠诚度，更强的工作积极性。</p>
            </div>
            <!--01-->
            <div class="box">
                <div class="circle num_1"></div>
                <div class="title">用户满意度增加</div>
                <div class="text">
                    <p class="color_icon"><img src="images/jf_page5_img1.png"></p>
                    <p>企业成本最小化，</p>
                    <p>员工满意度最大化。</p>
                </div>
            </div>
            <!--02-->
            <div class="box down">
                <div class="circle num_2"></div>
                <div class="title">灵活组合福利</div>
                <div class="text">
                    <p class="color_icon"><img src="images/jf_page5_img2.png"></p>
                    <p>弹性福利，灵活组合的自主化福</p>
                    <p>利平台。</p>
                </div>
            </div>
            <!--03-->
            <div class="box">
                <div class="circle num_3"></div>
                <div class="title">一站式福利平台</div>
                <div class="text">
                    <p class="color_icon"><img src="images/jf_page5_img3.png"></p>
                    <p>一站式福利平台，福利分配管理</p>
                    <p>，兼容企业原有供应商。</p>
                </div>
            </div>
            <!--04-->
            <div class="box down">
                <div class="circle num_4"></div>
                <div class="title">贴合员工需求</div>
                <div class="text">
                    <p class="color_icon"><img src="images/jf_page5_img4.png"></p>
                    <p>平台福利数据反馈，更能合理</p>
                    <p>决策紧随员工需求。</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>