<div class="content_block">
    <div class="jf_page4_what">
        <div class="what_bg">
            <!-- 内容 -->
            <div class="page4_content">
                <!-- 标题 -->
                <div class="page4_title">
                    <div class="title_img"></div>
                    <div class="title_text">什么是弹性福利</div>
                </div>
                <!-- 文案 -->
                <div class="explain">
                    <p>弹性福利是企业确定对每个员工福利的投入的前提下，由员工在福利菜单中选择适合自己的福利。嘉福采</p>
                    <p>取的是员工自助餐式的福利。员工可以从我们平台提供的一系列福利项目中，根据企业的，在使用期限内自由选</p>
                    <p>择其需要的福利内容，并自由兑换。</p>
                </div>
                <!-- 内容 -->
                <div class="round">
                    <div class="arrow"></div>
                    <div class="jf">
                        <div class="icon"><img src="images/jf_page4_jf.png">嘉福平台</div>
                        <div class="text">
                            <p class="title">嘉福平台</p>
                            <p>一站式企业福利云平台，为企业和员工提供优质的福利服务。我们让福利更有价值。</p>
                            <ul>
                                <li><img src="images/jf_page4_i1.png">购物商城</li>
                                <li><img src="images/jf_page4_i2.png">福利预支</li>
                                <li><img src="images/jf_page4_i3.png">生活服务</li>
                                <li><img src="images/jf_page4_i4.png">电子卡券</li>
                                <li><img src="images/jf_page4_i5.png">餐饮优惠</li>
                                <li><img src="images/jf_page4_i6.png">余额增值</li>
                                <div style="clear: both"></div>
                            </ul>
                        </div>
                    </div>
                    <div class="company">
                        <div class="icon">
                            <img src="images/jf_page4_company.png">
                            <p>企业</p>
                        </div>
                        <div class="text">
                            <p class="title">企业</p>
                            <p>平台优惠，降低企业成本，福利产品灵活配置。从而增加对人才的吸引力。</p>
                        </div>
                    </div>
                    <div class="staff">
                        <div class="icon">
                            <img src="images/jf_page4_staff.png">
                            <p>员工</p>
                        </div>
                        <div class="text">
                            <p class="title">员工</p>
                            <p>福利商城、福利增值、企业周边商户会员卡等多种消费模式随心选择。使员工有更高的忠诚度，更强的工作积极性。</p>
                        </div>
                    </div>
                    <div class="business">
                        <div class="icon">
                            <img src="images/jf_page4_business.png">
                            <p>商户</p>
                        </div>
                        <div class="text">
                            <p class="title">商户</p>
                            <p>各类优选商户，为企业带来专属优质服务。衣食住行各类场景应有尽有。</p>
                        </div>
                    </div>
                    <!-- wave -->
                    <div class="shade"></div>
                    <div id="wave" class="wave">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>