<!-- footer-->
<div class="footer">
    <div class="jf_footer">
        <div class="consult_row_1">
            <!-- 电话 -->
            <div class="service">
                <div class="code_app">
                    <p> -嘉福APP-</p>
                </div>
                <div class="code_wx">
                    <p> -嘉福服务号-</p>
                </div>
                <div class="telephone">
                    <p onclick="jfCustomerService.click();"><img src="images/jf_footer_phone.png">在线咨询</p>
                    <p>咨询时间：周一 至 周五（8:00-20:00）</p>
                </div>
            </div>
            <!-- 地址 -->
            <div class="contact">
                <div>CONTACT</div>
                <div>
                    <p>地址：上海市徐汇区虹桥路808号</p>
                    <p>加华商务中心D5栋3楼</p>
                </div>
            </div>
            <div class="clearfloat"></div>
        </div>
        <div class="consult_row_2">
            <!-- 导航 -->
            <div class="navigation">
                <ul>
                    <li><a href="main.html"><img src="images/jf_footer_p1.png">嘉福首页</a></li>
                    <li><a href="platform.html"><img src="images/jf_footer_p2.png">平台介绍</a></li>
                    <li><a href="open_platform.html"><img src="images/jf_footer_p3.png">开放平台</a></li>
                    <li><a href="about_jf.html"><img src="images/jf_footer_p4.png">关于嘉福</a></li>
                    <li><a href="contact_us.html"><img src="images/jf_footer_p5.png">联系我们</a></li>
                </ul>
            </div>
            <!-- 咨询 -->
            <div class="consultation">
                <a><img src="images/jf_footer_imf.png">010-57185561
                    <p>021-64280689</p>
                </a>
                <a href="mailto:sales@jia-fu.cn"><img src="images/jf_footer_mail.png">sales@jia-fu.cn</a>
            </div>
            <div style="clear: both"></div>
        </div>

        <!--友情链接-->
        <div class="consult_row_3">
            <span>友情链接:</span>
            <a href="https://www.dianping.com/" target="_blank"><img src="images/jf_footer_dianping.png"></a>
            <a href="https://www.liepin.com/" target="_blank"><img src="images/jf_footer_lieping.png"></a>
        </div>
        <!-- 备案 -->
        <hr>
        <div class="consult_row_4">
            <div class="ICP">
                <!--                   <span id="cnzz_stat_icon_1253159725">
                           <a href="http://www.cnzz.com/stat/website.php?web_id=1253159725" target="_blank" title="站长统计">
                               <img border="0" hspace="0" vspace="0" src="https://icon.cnzz.com/img/pic2.gif">
                           </a>
                       </span>-->
                网站备案号：<a href="http://www.miitbeian.gov.cn/">沪ICP备14041032</a>
            </div>
            <div>Copyright 2014-2017 www.jia-fu.cn All Rights Reserved</div>
        </div>
    </div>
</div>
