
<!--通用头部导航-->
<div class="nav">
    <div class="jf_nav">

        <div>
        <!-- jf logo -->
        <a class="jf_nav_logo" href=""></a>
        <!--jf 分类-->
        <div class="jf_nav_content">
            <ul>
                <li<% if (tabone) { %> class="show"<%}%>>
                    <a href="main.html">首页</a>
                </li>
                <li <% if (tabtwo) { %> class="show"<%}%>>
                    <a href="platform.html">平台介绍</a>
                </li>
                <li <% if (tabthree) { %> class="show"<%}%>>
                    <a href="open_platform.html">开放平台
                    </a>
                </li>
                <li <% if (tabfour) { %> class="show"<%}%>>
                    <a href="about_jf.html">关于嘉福
                    </a>
                </li>
                <li <% if (tabfive) { %> class="show"<%}%>>
                    <a href="contact_us.html">
                        联系我们
                    </a>
                </li>
            </ul>
        </div>

            <!--jf 登录-->
            <div class="jf_nav_login">
                <a class="login_btn company_login" href="http://e.jia-fu.cn" target="_blank">我是企业</a>
            <span class="login_btn employee_login">我是员工</span>
                <div class="QR_code">
                    <div class="triangle"></div>
                    <div class="weixin">
                        <img src="images/QR_code_wx.png">
                    </div>
                    <div class="app">
                        <img src="images/QR_code_app.png">
                    </div>
                </div>
                <div class="nav_contact">
                    <a class="mail" onclick="jfCustomerService.click();"></a>
                    <a class="phone"></a>
                    <div class="phone_box">
                        <div class="triangle"></div>
                        <div class="num"><span>企业咨询：</span>010-56280622</div>
                        <div class="num"><span>员工客服：</span>400-821-6990</div>
                        <div class="num tip"><span>(在线时间：工作日9:00-17:30)</span></div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <% if(homepage){%><div class="jf_nav_tab"></div><%}%>
</div>
