<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta content="webkit" name="renderer">
    <meta name="keywords" content="嘉福平台、嘉福、嘉福福利、税务筹划、员工福利、薪酬管理、企业福利、薪酬福利、福利定制、弹性福利、员工激励、集采、福利培训、礼品采购、职工福利、福利保险、非现金福利、企业福利外包、员工体检、员工健康。">
    <meta name="description" content="专注在弹性福利领域，面对企业提供服务，帮助企业发放和管理员工福利、奖励。">

    <title>嘉福平台—一站式福利薪酬管理平台</title>
<link rel="stylesheet" href="../css/homepage_mobile.css">
</head>
<body>
    <div id="homepage_scroll_move">
        <div id="content_scroll">
            <!--第一页-->
            <div class="content_block content_show">
                <div class="page_one">
    <!--嘉福官网第一页
    金俊菲-->
    <!--导航-->
    <div class="pageone_nav">

        <div class="pageone_nav_icon">
            <div class="pageone_nav_icon_one"><img src="images/page_one/icon-company.png"></div>
            <div class="pageone_nav_icon_two"><img src="images/page_one/icon-line.png"></div>
            <div class="passone_nav_icon_text">&#x5609;&#x798F;&#x5F39;&#x6027;&#x798F;&#x5229;&#x5E73;&#x53F0;</div>
        </div>
        <div class="pageone_nav_service">
            <div class="pageone_nav_service_people" onclick="jfCustomerService.click()"><img src="images/page_one/icon-artificial.png"></div>
            <div class="pageone_nav_service_email"><a href="mailto:sales@ijafu.com"><img src="images/page_one/icon-e-mail.png."></a></div>
            <div class="pageone_nav_service_telephone" id="service_telephone"><a></a><img src="images/page_one/icon-telephone.png"></div>
        </div>

    </div>


  <!--  <div class="pageone_nav_rectangle"></div>-->

    <!--标题-->
    <div class="pageone_title">
        <div class="pageone_title_one">
            &#x4E00;&#x7AD9;&#x5F0F;&#x4F01;&#x4E1A;&#x670D;&#x5229;&#x4E91;&#x5E73;&#x53F0;</div>
        <div class="pageone_title_two">&#x5168;&#x573A;&#x666F;&#x5458;&#x5DE5;&#x798F;&#x5229;&#x670D;&#x52A1;&#x4F53;&#x7CFB;</div>
    </div>
    <!--图形-->
    <!--图形-->
    <div class="pageone_picture">
        <div class="pageone_picture_background moveEle" data-distancew="0.45"></div>
        <div class="pageone_picture_star">
            <div class="pageone_picture_star_one moveEle" data-distancew="0.75"><img src="images/page_one/icon-star_one_one.png"></div>
            <div class="pageone_picture_star_two moveEle" data-distancew="0.75"><img src="images/page_one/icon-star_two.png"></div>
            <div class="pageone_picture_star_three moveEle" data-distancew="0.8"><img src="images/page_one/icon-star_three.png"></div>
            <div class="pageone_picture_star_four moveEle" data-distancew="0.75"><img src="images/page_one/icon-star_four.png"></div>
            <div class="pageone_picture_star_arrow moveEle" data-distancew="0.6"><img src="images/page_one/icon-arrow.png"></div>
            <div class="pageone_picture_star_jiafu moveEle" data-distancew="0.95"><img src="images/page_one/icon-jiafu.png"></div>
            <div class="pageone_picture_star_bag moveEle" data-distancew="0.95"><img src="images/page_one/icon-bag.png"></div>
            <div class="pageone_picture_bag_one moveEle" data-distancew="0.8"><img src="images/page_one/icon-bag-one.png"></div>
            <div class="pageone_picture_star_appale moveEle" data-distancew="0.95"><img src="images/page_one/icon-apple.png"></div>

        </div>
        <div class="pageone_picture_earth">
            <div class="moveEle" data-distancew="0.6"><img src="images/page_one/icon-earth_two.png"></div>
            <div class="earth_circle moveEle" data-distancew="0.95"><img src="images/page_one/icon-earth_three.png"></div>
        </div>

    </div>


    <!--利益点-->
    <div class="pageone_decorat">
        <!--宇航员-->
        <div class="pageone_decorat_one">
            <div class="pageone_decorat_one_astronaut"><img src="images/page_one/icon-astronaut-one.png"></div>
            <div class="pageone_decorat_one_text"><img src="images/page_one/icon-hi.png"></div>
        </div>
        <!--小地球-->
        <div class="pageone_decorat_two">
            <div class="pageone_decorat_two_earth"><img src="images/page_one/icon-circle.png"></div>
        </div>
        <!--文案-->
        <div class="pageone_benefit">
            <div class="pageone_benefit_circle left_top">
                <div>
                    <div>弹性</div>
                    <div>福利</div>
                </div>
            </div>

            <div class="pageone_benefit_circle right_top">
                <div>
                    <div>补充</div>
                    <div>医疗</div>
                </div>
            </div>

            <div class="pageone_benefit_circle right_bottom">
                <div>
                    <div>薪酬</div>
                    <div>代发</div>
                </div>
            </div>
            <div class="pageone_benefit_circle left_bottom">
                <div>
                    <div>咨询</div>
                    <div>培训</div>
                </div>
            </div>


        </div>
        <!--线-->
        <div class="pageone_benefit_line">

        </div>
        <!--箭头-->
        <!--<div class="pageone_benefit_arrow"><img src="../../images/page_one/icon-arrow-one.png"/> </div>-->
    </div>
    <!--按钮-->
    <div class="pageone_key">
        <div class="pageone_key_bottom" onclick="window.location.href='http://e.jia-fu.cn'">
            <img src="images/page_one/icon-key-one.png">我是企业
        </div>
        <div class="pageone_key_bottom" onclick="judgeBrowserJump();">
            <img src="images/page_one/icon-key-two.png">我是员工
        </div>
    </div>
    <!--月球-->
    <div class="page_one_moon">
        <div class="moon_shadow"><img src="images/page_one/icon-moon-shadow.png"></div>
        <div class="moon_circle"><img src="images/page_one/icon-moon.png"> </div>


    </div>
    <!--确认订单弹出层-->
    <div class="frame_drag_up">
        <div class="frame-main">
            <div class="frame_drop_down">

                <div class="drop_down_delete">
                    <div class="text_title">企业咨询</div>
                    <div class="delete"><img src="images/page_one/icon-delete.png"></div>
                </div>
                <div class="drop_down_text">

                    <div class="text_telephone">
                        <a href="tel:021-64280689">上海 - 021-64280689</a>
                        <a href="tel:010-56280622">北京 - 010-56280622</a>
                        <a href="tel:400-821-6990">员工客服 - 400-821-6990</a>
                    </div>

                </div>


            </div>

        </div>
        <div class="weui_mask_transition mask_drag"></div>
    </div>






</div>
            </div>
            <!--第二页-->
            <div class="content_block">
                
<div class="page_two">
    <!--嘉福官方网站第二页
    金俊菲-->
    <!--图标-->

    <!--<div class="page_two_icon"><img src="../../images/page_two/icon-jiafu.png"/></div>-->
    <!--标题-->
    <div class="page_two_title">
        <div class="page_two_title_english">MY WELFARE</div>
        <div class="page_two_title_chinese">我的福利 我做主</div>
        <div class="page_two_title_icon"><img src="images/page_two/icon-line.png"> </div>
    </div>
    <!--利益点-->
    <div class="page_two_benefit">
        <div class="page_two_background">
            <div class="page_two_benefit_background left_top">

                <img src="images/page_two/icon-card.png">
                <div class="page_two_text_one">我的福利我做主</div>
                <div class="page_two_text_two">全场景福利消费</div>
                <div class="page_two_text_two">模式轻松自选</div>
            </div>

            <div class="page_two_benefit_background right_top">
                <img src="images/page_two/icon-circle.png">
                <div class="page_two_text_one">个性化定制</div>
                <div class="page_two_text_two">300+供应商实惠采集</div>
                <div class="page_two_text_two">更多更好更全</div>
            </div>

            <div class="page_two_benefit_background left_bottom">
                <img src="images/page_two/icon-hand.png">
                <div class="page_two_text_one">福利选择一站通</div>
                <div class="page_two_text_two">丰富资源高标准筛选</div>
                <div class="page_two_text_two">告别比价</div>
            </div>

            <div class="page_two_benefit_background right_bottom">
                <img src="images/page_two/icon-box.png">
                <div class="page_two_text_one">福利价值最大化</div>
                <div class="page_two_text_two">搭建企业员工桥梁</div>
                <div class="page_two_text_two">用心关怀</div>
            </div>
        </div>
    </div>
    <!--月球-->
    <div class="page_two_moon">
        <div class="moon_circle"><img src="images/page_two/icon-moon.png"></div>
        <div class="moon_shadow"><img src="images/page_two/icon-moon-shadow.png"> </div>





    </div>
</div>
            </div>

            <!--第三页-->
            <div class="content_block">
                
<div class="page_three">
    <!--嘉福官方网站第三页
    金俊菲-->
    <!--图标-->
    <!--<div class="page_three_icon"><img src="../../images/page_two/icon-jiafu.png"/></div>-->
    <!--标题-->
    <div class="page_three_title">
        <div class="page_three_title_english">BASIC SERVICE</div>
        <div class="page_three_title_chinese">嘉福基础服务</div>
        <div class="page_three_title_icon"><img src="images/page_two/icon-line.png"> </div>
    </div>
    <!--箭头图形-->
    <div class="page_three_picture">
        <div class="page_three_arrow"><img src="images/page_three/icon-arrow.png"></div>
    </div>
    <!--利益点-->
    <div class="page_three_benefit test_one">
        <div class="benefit_one">
            <img src="images/page_three/icon-people.png">
            <div class="text_sub_one">员工福利账户</div>
            <div class="text_sub_text">一站式解决企业薪酬福利发放问题</div>
        </div>

        <div class="benefit_one">
            <img src="images/page_three/icon-cup.png">
            <div class="text_sub_one">卡券兑换</div>
            <div class="text_sub_text">京东E卡 天猫卡 亚马逊 携程卡爱奇艺等50多种</div>
        </div>

        <div class="benefit_one">
            <img src="images/page_three/icon-card.png">
            <div class="text_sub_one">信用卡还款</div>
            <div class="text_sub_text">足不出户轻松上网还款 支持40多家知名银行</div>
        </div>



<!--
        <div class="benefit_one">
            <img src="../../images/page_three/icon-cup.png"/>
            <div class="text_two">卡券兑换</div>
            <div class="text_sub_two">京东E卡、天猫卡、</div>
            <div class="text_sub_two">亚马逊、携程卡、</div>
            <div class="text_sub_two">爱奇艺等50多种</div>
        </div>

        <div class="benefit_three">
            <img src="../../images/page_three/icon-card.png"/>
            <div class="text_three">信用卡还款</div>
            <div class="text_sub_three">足不出户轻松网</div>
            <div class="text_sub_three">上还款，支持40</div>
            <div class="text_sub_three">多家知名银行</div>

        </div>-->







    </div>

    <div class="page_three_benefit test_two">
        <div class="benefit_one">
            <img src="images/page_three/icon-shop.png">
            <div class="text_sub_one">电商精选</div>
            <div class="text_sub_text">平台对接了京东慧采和苏宁易购 下单实物到家</div>
        </div>

        <div class="benefit_one">
            <img src="images/page_three/icon-arrow-one.png">
            <div class="text_sub_one">生活充值</div>
            <div class="text_sub_text">平台对接了多种充值平台实时到达简单方便</div>
        </div>

        <div class="benefit_one">
            <img src="images/page_three/icon-basket.png">
            <div class="text_sub_one">商户卡券消费</div>
            <div class="text_sub_text">专款专用员工满意度企业福利带来流量平台售卡折扣</div>
        </div>



        <!--
                <div class="benefit_one">
                    <img src="../../images/page_three/icon-cup.png"/>
                    <div class="text_two">卡券兑换</div>
                    <div class="text_sub_two">京东E卡、天猫卡、</div>
                    <div class="text_sub_two">亚马逊、携程卡、</div>
                    <div class="text_sub_two">爱奇艺等50多种</div>
                </div>

                <div class="benefit_three">
                    <img src="../../images/page_three/icon-card.png"/>
                    <div class="text_three">信用卡还款</div>
                    <div class="text_sub_three">足不出户轻松网</div>
                    <div class="text_sub_three">上还款，支持40</div>
                    <div class="text_sub_three">多家知名银行</div>

                </div>-->







    </div>








</div>
            </div>

            <!--第四页-->
            <div class="content_block">
                <!--嘉福官方网站第四页
    金俊菲-->
<div class="page_four">
    <!--图标-->
   <!-- <div class="page_four_icon"><img src="../../images/page_four/icon-jiafu.png"/></div>-->
    <!--标题-->
    <div class="page_four_title">
        <div class="page_four_title_english">WHAT IS</div>
        <div class="page_four_title_chinese">什么是弹性福利</div>
        <div class="page_four_title_icon"><img src="images/page_four/icon-line.png"> </div>
    </div>
    <!--利益点-->
    <div class="page_four_benefit">

        <div class="page_four_rocket">
            <img src="images/page_four/icon-rocket.png">

            <div class="page_four_text">
                <div class="page_four_text_one">嘉福平台</div>
                <div class="page_four_text_two">让福利更有价值</div>

            </div>

            <div class="page_four_icon">
                <img src="images/page_four/icon-jiafu_one.png">
            </div>

            <div class="page_four_sub_text">

                <div>
                    <img src="images/page_four/icon-company.png">
                    <div class="sub_text_one">企业</div>
                    <div class="sub_text_two">平台优惠降低提供合规发票多种消费模式随心选</div>
                </div>

                <div>
                    <img src="images/page_four/icon-people.png">
                    <div class="sub_text_one">员工</div>
                    <div class="sub_text_two">福利商城 福利增值 企业周边商户会员卡等多种消费模式随心选择</div>
                </div>


            </div>

        </div>



    </div>
    <!--月球-->
    <div class="page_four_moon">
        <div class="moon_shadow"><img src="images/page_four/icon-moon_shadow.png"></div>
        <div class="moon_circle"><img src="images/page_four/icon-moon_circle.png"> </div>


    </div>




</div>
            </div>

            <!--第五页-->
            <div class="content_block">
                <div class="page_five">
    <!--嘉福官方网站第五页
    金俊菲-->
    <!--图标-->
<!--    <div class="page_five_icon"><img src="../../images/page_five/icon-jiafu.png"/></div>-->
    <!--标题-->
    <div class="page_five_title">
        <div class="page_five_title_english">WHY CHOOSE</div>
        <div class="page_five_title_chinese">为什么选择嘉福</div>
        <div class="page_five_title_icon"><img src="images/page_five/icon-line.png"> </div>
    </div>
    <!--利益点-->
    <div class="page_five_benefit">

        <div class="page_five_line">
            <div class="line_line"></div>
            <div class="page_five_line_one">

                <div class="page_five_line_circle"></div>

                <div class="page_five_line_circle">
                    <div class="page_five_text">
                        <img src="images/page_five/icon-computer-one.png">
                        <div class="text_one">用户满意度增加</div>
                        <div class="text_two">企业成本最小化员工满意度最大化</div>

                    </div>
                </div>

                <div class="page_five_line_circle">
                        <div class="page_five_text">
                            <img src="images/page_five/icon-dialog.png">
                            <div class="text_one">灵活组合福利</div>
                            <div class="text_two">弹性福利灵活组合的自主化福利平台</div>

                        </div>
                    </div>

                <div class="page_five_line_circle">
                    <div class="page_five_text">
                        <img src="images/page_five/icon-notebook.png">
                        <div class="text_one">一站式福利平台</div>
                        <div class="text_two">一站式福利平台福利分配管理兼容企业原有供应商</div>

                    </div>
                </div>
                <div class="page_five_line_circle">
                    <div class="page_five_text">
                        <img src="images/page_five/icon-pen.png">
                        <div class="text_one">贴合员工需求</div>
                        <div class="text_two">平台福利数据反馈更能合理决策紧随员工需求</div>

                    </div>
                </div>
                <div class="page_five_line_circle">
                    <div class="page_five_text">
                        <img src="images/page_five/icon-computer-one.png">
                        <div class="text_one">用户满意度增加</div>
                        <div class="text_two">企业成本最小化员工满意度最大化</div>

                    </div>
                </div>




            </div>
        </div>







    </div>
    <!--月球-->
    <div class="page_five_moon">
        <div class="moon_shadow"><img src="images/page_five/icon-moon-shadow.png"></div>
        <div class="moon_circle"><img src="images/page_five/icon-moon.png"> </div>

    </div>

</div>
            </div>

            <!--第六页-->
            <div class="content_block">
                <div class="page_six">
    <!--嘉福官方网站第六页
    金俊菲-->
    <!--图标-->
    <!--<div class="page_six_icon"><img src="../../images/page_six/icon-jiafu.png"/></div>-->
    <!--标题-->
    <div class="page_six_title">
        <div class="page_six_title_english">COOPERATIVE</div>
        <div class="page_six_title_chinese">嘉福合作伙伴</div>
        <div class="page_six_title_icon"><img src="images/page_six/icon-line.png"> </div>
    </div>
    <!--合作伙伴-->
    <div class="page_six_cooperative">
        <div class="page_six_icon">
            <div>
                <img src="images/page_six/icon-LOCK.png">
                <div>乐扣乐扣</div>
            </div>

            <div>
                <img src="images/page_six/icon-Meituan.png">
                <div>美团</div>
            </div>

         <div>
             <img src="images/page_six/icon-HanKowThames.png">
             <div>大众点评</div>
         </div>

        </div>

        <div class="page_six_icon">
            <div>
                <img src="images/page_six/icon-China-Mobile.png">
                <div>中国移动</div>
            </div>

            <div>
                <img src="images/page_six/icon-Alipay.png">
                <div>支付宝</div>
            </div>

            <div>
                <img src="images/page_six/icon-Thermos.png">
                <div>膳魔师</div>
            </div>

        </div>

        <div class="page_six_icon">
            <div>
                <img src="images/page_six/icon-Sunning.png">
                <div>苏宁易购</div>
            </div>

            <div>
                <img src="images/page_six/icon-lqiyi.png">
                <div>爱奇艺</div>
            </div>

            <div>
                <img src="images/page_six/icon-sephora.png">
                <div>丝芙兰</div>
            </div>

        </div>


        <div class="page_six_icon">
            <div>
                <img src="images/page_six/icon-shopone.png">
                <div>1号店</div>
            </div>

            <div>
                <img src="images/page_six/icon-Vip.png">
                <div>唯品会</div>
            </div>

            <div>
                <img src="images/page_six/icon-JingDong.png">
                <div>京东</div>
            </div>

        </div>

        <div class="page_six_icon">
            <div>
                <img src="images/page_six/icon-Amazon.png">
                <div>亚马逊</div>
            </div>

            <div>
                <img src="images/page_six/icon-ctrip.png">
                <div>携程旅行</div>
            </div>

            <div>
                <img src="images/page_six/icon-chaina-unicom.png">
                <div>中国联通</div>
            </div>

        </div>

        <div class="page_six_icon">
            <div>
                <img src="images/page_six/icon-Sinopec.png">
                <div>中国石化</div>
            </div>

            <div>
                <img src="images/page_six/icon-levis.png">
                <div>李维斯</div>
            </div>

            <div>
                <img src="images/page_six/icon-Metro-traffic.png">
                <div>地铁交通</div>
            </div>

        </div>

    </div>
</div>
            </div>

            <!--第八页-->
            <div class="content_block">
                <div class="page_eight">
    <!--嘉福官方网站第八页
    金俊菲-->
    <div class="page_eight_title">
        <div class="page_eight_title_english">CONTACT US</div>
        <div class="page_eight_title_chinese">联系我们</div>
        <div class="page_eight_title_icon"><img src="images/page_six/icon-line.png"> </div>
    </div>
    <!--联系我们-->
    <div class="contact_us">
        <div class="frame">
            <div class="area">北京</div>
            <div class="area_sub">BeiJing</div>
            <div class="area_title">北京</div>
            <div class="area_address">地址：北京市朝阳区光华路甲8号和乔大厦A座406室</div>
            <div class="area_telphone">电话：<a href="tel:010-57185561">010-57185561</a></div>
        </div>

        <div class="frame">
            <div class="area">天津</div>
            <div class="area_sub">TianJing</div>
            <div class="area_title">天津</div>
            <div class="area_address">地址：天津市和平区赤峰道136号天津国际金融中心712室</div>
            <div class="area_telphone">电话:<a href="tel:159 2222 8062">159 2222 8062</a></div>
        </div>

        <div class="frame">
            <div class="area">沈阳</div>
            <div class="area_sub">ShenYang</div>
            <div class="area_title">沈阳</div>
            <div class="area_address">地址：沈阳市铁西区建设中路1号第一商城B座1006室</div>
            <div class="area_telphone">电话：<a href="tel:024-85611182">024-85611182</a></div>
        </div>

        <div class="frame">
            <div class="area">大连</div>
            <div class="area_sub">DaLian</div>
            <div class="area_title">大连</div>
            <div class="area_address">地址：大连市沙河口区中山路572号星海旺座2010室</div>
            <div class="area_telphone">电话：<a href="tel:0411-66851550">0411-66851550</a></div>
        </div>

        <div class="frame">
            <div class="area">成都</div>
            <div class="area_sub">ChengDu</div>
            <div class="area_title">成都</div>
            <div class="area_address">地址：成都市红星路二段70号四川日报大厦B区4楼</div>
            <div class="area_telphone">电话：<a href="tel:180 8111 9126">180 8111 9126</a></div>
        </div>

        <div class="frame">
            <div class="area">合肥</div>
            <div class="area_sub">HeFei</div>
            <div class="area_title">合肥</div>
            <div class="area_address">地址：安徽省合肥市蜀山区黄山路651号汇峰大厦1214室</div>
            <div class="area_telphone">电话：<a href="tel:0551-65186360">0551-65186360</a></div>
        </div>

        <div class="frame">
            <div class="area">无锡</div>
            <div class="area_sub">WuXi</div>
            <div class="area_title">无锡</div>
            <div class="area_address">地址：无锡市梁溪区广益路188号广益街道办北门1102,1105,1106</div>
            <div class="area_telphone">电话：<a href="tel:158 0619 7179">158 0619 7179</a></div>
        </div>

        <div class="frame">
            <div class="area">上海</div>
            <div class="area_sub">ShangHai</div>
            <div class="area_title">上海</div>
            <div class="area_address">地址：上海市徐汇区虹桥路808号加华商务中心D5栋3楼</div>
            <div class="area_telphone">电话：<a href="tel:021-64189891">021-64189891</a></div>
        </div>

        <div class="frame">
            <div class="area">宁波</div>
            <div class="area_sub">NingBo</div>
            <div class="area_title">宁波</div>
            <div class="area_address">地址：浙江宁波市江东区中山东路1083号世纪东方COB写字楼1502室</div>
            <div class="area_telphone">电话：<a href="tel:135 8885 2130">135 8885 2130</a></div>
        </div>

        <div class="frame">
            <div class="area">杭州</div>
            <div class="area_sub">HangZhou</div>
            <div class="area_title">杭州</div>
            <div class="area_address">地址：浙江省杭州市拱墅区潮王路225号红石中央大厦602室</div>
            <div class="area_telphone">电话：<a href="tel:0571-85376027">0571-85376027</a></div>
        </div>

        <div class="frame">
            <div class="area">广州</div>
            <div class="area_sub">GuangZhou</div>
            <div class="area_title">广州</div>
            <div class="area_address">地址：广州市天河区黄埔大道西路33号18楼H</div>
            <div class="area_telphone">电话：<a href="tel:020-37362732">020-37362732</a></div>
        </div>

        <div class="frame">
            <div class="area">深圳</div>
            <div class="area_sub">ShenZhen</div>
            <div class="area_title">深圳</div>
            <div class="area_address">地址：深圳市南山区软件产业基地深圳湾创业广场4C座205-G</div>
            <div class="area_telphone">电话：<a href="tel:0755-86089320">0755-86089320</a></div>
        </div>

        <div class="frame">
            <div class="area">青岛</div>
            <div class="area_sub">QingDao</div>
            <div class="area_title">青岛</div>
            <div class="area_address">地址：青岛市南区颐和国际A座1609室</div>
            <div class="area_telphone">电话：<a href="tel:0532-82152285">0532-82152285</a></div>
        </div>

        <div class="frame">
            <div class="area">济南</div>
            <div class="area_sub">JiNan</div>
            <div class="area_title">济南</div>
            <div class="area_address">地址：济南市市中区英雄山路祥泰广场5#楼2008室</div>
            <div class="area_telphone">电话：<a href="tel:17710142588">17710142588</a></div>
        </div>

    </div>





</div>





            </div>

            <!--第七页-->
            <div class="content_block">
                <div class="page_seven">
    <!--嘉福官方网站第七页
    金俊菲-->
    <!--图标-->
   <!-- <div class="page_seven_icon"><img src="../../images/page_seven/icon-jiafu.png"/></div>-->
    <!--标题-->
    <div class="page_seven_title">
        <div class="page_seven_title_english">REGISTER NOW</div>
        <div class="page_seven_title_chinese">开启您的嘉福之旅</div>
        <div class="page_seven_title_icon"><img src="images/page_seven/icon-line.png"></div>
    </div>
    <!--注册-->
    <div class="page_seven_key">
        <a class="page_seven_key_between" href="http://e.jia-fu.cn">
            <div>企业登录</div>
        </a>
    </div>

    <div class="page_seven_bottom">
        <div class="page_seven_line"></div>
        <div class="page_seven_icon">
            <div class="icon">
                <div class="icon_one">
                    <img src="images/page_seven/icon-people.png">
                </div>
                <div class="text">
                    <div class="text_one">2,000+</div>
                    <div class="text_one_text">企业客户</div>
                </div>
            </div>


            <div class="icon">
                <div class="icon_one">
                    <img src="images/page_seven/icon-key.png">
                </div>
                <div class="text">
                    <div class="text_one">200,000+</div>
                    <div class="text_one_text">服务员工</div>
                </div>
            </div>


            <div class="icon">
                <div class="icon_one">
                    <img src="images/page_seven/icon-uptrend.png">
                </div>
                <div class="text">
                    <div class="text_one">近十亿</div>
                    <div class="text_one_text">交易额</div>
                </div>
            </div>


        </div>
        <div class="bottom_text">
            <div class="bottom_text_one">
                <div class="bottom_one">
                    <div class="title" onclick="jfCustomerService.click()">
                        <div>
                            <img src="images/page_seven/icon-wechat.png">
                        </div>
                        <div>咨询顾问</div>
                    </div>
                    <div class="title_text">
                        <p>服务时间:周一至周五(9:00-17:30)</p>
                        <p>友情链接:</p>
                            <a href="https://m.dianping.com" class="dp"> <img src="images/page_seven/icon-HanKow.png"></a>
                            <a href="https://m.liepin.com"><img src="images/page_seven/icon-Liehu.png"></a>
                        
                    </div>


                </div>

            </div>
            <div class="bottom_line_one"></div>
            <div class="bottom_text_two">
                <div class="bottom_two">
                    <div class="title_one">CONTACT</div>
                    <div class="title_text_one">地址:上海市徐汇区虹桥路808号加华商务中心D5栋3楼</div>


                </div>

            </div>
        </div>
        <div class="bottom_line"></div>


        <div class="bottom_vallue">
            <div class="vallue">
                <div class="vallue_one">Copyright 2014-2016 www.jia-fu.cn All Rights Reserved.</div>
                <div class="vallue_text">沪ICP备14041032</div>

            </div>





        </div>
    </div>




</div>
            </div>

        </div>


    </div>

    <!--地址选择弹出框-->
    <!--地址选择弹出框-->


<div id="area_block_show" class="area_block_show">
    <div class="area_message">
        <div class="area_block_show_title">
            <div class="show_title">北京</div>
        </div>
        <div class="show_delete"><img src="images/page_one/icon-delete.png"></div>
        <div class="area_block_show_address">地址：北京市朝阳区光华路甲8号和乔大厦A座406室</div>
        <div class="area_block_show_telphone"><a href="tel:010-57185561">010-57185561</a></div>


    </div>

</div>


<div class="area_black_box"></div>

<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/homepage_new2017.js"></script>
<script src="js/homepage_dev.js"></script>
</body>
<script>
    /*鼠标滚动事件*/
    var scrollBlockMove = {

        init: function (details) {//主要初始化

            var _this = this;

            _this.thisPosition = 0;//初始化现在在第几个页面

            _this.fn = details;//初始化配置

            _this.isXMove = 1;//是否需要移动

            _this.moveDistance = 0;//移动的距离

            _this.showheight = 30;//可以滚动的高度


            var firstTouchesClientY; //初次点击的位置

            var moveTouchesClientY;//移动一段距离后，停止点的位置

            _this.initPoint();//增加右侧导航


            document.getElementById('homepage_scroll_move').addEventListener("touchstart", getFirstPosition, false);

            document.getElementById('homepage_scroll_move').addEventListener('touchend', function () {
                getLastPosition();

                if (_this.isXMove && Math.abs(_this.moveDistance) > _this.showheight) {

                    norXMove();

                    _this.changeScroll(_this.moveDistance)

                }

            }, false);

            document.getElementById('homepage_scroll_move').addEventListener("touchmove", function (event) {

                var evt = event ? event : window.event;
                evt.preventDefault()

            }, false)


            //延迟在变化
            function norXMove() {

                _this.isXMove = 0;

                setTimeout(function () {

                    _this.isXMove = 1;

                }, 300);

            }


            //初始移送的位置
            function getFirstPosition(event) {

                var evt = event ? event : window.event;

                // evt.preventDefault()

                firstTouchesClientY = parseInt(evt.touches[0].clientY);//当前点击事件距离屏幕顶部的距离(初始位置);

                //console.log(firstTouchesClientY)

            }

            //手指即将离开的位置
            function getLastPosition(event) {

                var evt = event ? event : window.event;

                //evt.preventDefault()

                moveTouchesClientY = parseInt(evt.changedTouches[0].clientY);//末尾位置;

                _this.moveDistance = moveTouchesClientY - firstTouchesClientY;//最终移动的距离

                // console.log(moveTouchesClientY)


            }


        },

        initPoint: function () {//初始化右侧导航点


            //新建导航点元素
            var obj = document.createElement('div');

            obj.id = 'content_point';

            var thisNum = document.getElementById('content_scroll').getElementsByClassName('content_block').length;

            //通过有几个页面，设置几个导航点
            var thisInnerHtml = '<div>';

            for (var i = 0; i < thisNum; i++) {

                if (i == 0) {

                    thisInnerHtml += '<span class="show"></span>';
                }

                else {

                    thisInnerHtml += '<span></span>';

                }

            }

            thisInnerHtml += '</div>';

            obj.innerHTML = thisInnerHtml;

            //添加元素
            document.getElementById('homepage_scroll_move').appendChild(obj);

            //每个导航点添加监听
            var allPoint = document.getElementById('content_point').getElementsByTagName('span');

            for (var i = 0; i < allPoint.length; i++) {

                allPoint[i].addEventListener('click', this.clickPoint, false)

            }

        },

        clickPoint: function (event) {//绑定的点击事件

            var allPoint = document.getElementById('content_point').getElementsByTagName('div')[0].getElementsByTagName('span');

            //返回点击的是第几个元素
            for (var i = 0; i < allPoint.length; i++) {

                if (this == allPoint[i]) {

                    break;

                }

            }

            var thisNeedMove = i + scrollBlockMove.thisPosition;//需要移动的位置


            //计算移动的绝对值
            if (thisNeedMove != 0) {

                for (var i = 0; i < Math.abs(thisNeedMove); i++) {

                    scrollBlockMove.changeScroll(-thisNeedMove);

                }

            }

        },

        changeScroll: function (position) {//改变位置，参数正负为是否上下移动


            var pointBlock = document.getElementById('content_point');

            var changeBlock = document.getElementById('content_scroll');

            var _this = this;

            var thisNum = document.getElementById('content_scroll').getElementsByClassName('content_block').length - 1;

            //如果向下滚动，则不能超过最大页面个数
            if (parseFloat(position) < 0) {

                _this.thisPosition > -thisNum ? _this.thisPosition-- : _this.thisPosition = -thisNum;

            }

            //如果向上滚动，不能超过最上面
            else if (parseFloat(position) > 0) {

                _this.thisPosition < 0 ? _this.thisPosition++ : _this.thisPosition = 0;

            }

            _this.changeTransform(document.getElementById('content_scroll'), 100 * this.thisPosition + '%');//变化到指定位置

            //变化点的位置
            pointBlock.getElementsByClassName('show')[0].className = pointBlock.getElementsByClassName('show')[0].className.replace('show', '');

            pointBlock.getElementsByTagName('span')[-this.thisPosition].className += ' show';

            //变化页面的位置
            changeBlock.getElementsByClassName('content_show')[0].className = changeBlock.getElementsByClassName('content_show')[0].className.replace(' content_show', '');

            changeBlock.getElementsByClassName('content_block')[-this.thisPosition].className += ' content_show';

        },

        changeTransform: function (ele, num) {//位置变化的方法

            ele.style.transform = 'translateY(' + num + ')';

            ele.style.oTransform = 'translateY(' + num + ')';

            ele.style.mozTransform = 'translateY(' + num + ')';

            ele.style.webkitTransform = 'translateY(' + num + ')';

            ele.style.msTransform = 'translateY(' + num + ')'

        }

    };

    var jfshakeMove = {

        varInit: {

            'canMove': true

        },

        init: function () {

            //判断是否是手机晃动事件
            if (window.DeviceOrientationEvent) {

                window.addEventListener('deviceorientation', this.mouseMove.bind(this), false);

                this.android(0.3)
            }

        },



        mouseMove: function (event) {

            var event = event || window.event;

            var delB = event.beta;    // beta轴偏转角（绕x轴旋转的角度）

            var delG = event.gamma;    // gamma轴偏转角(绕y轴旋转的角度)

            if (delB && delG && this.varInit.canMove) {

                this.beta = event.beta;

                this.gamma = event.gamma;

                this.varInit.canMove = false;

            }

            if (delB != null || delG != null) {

                var allMoveEle = document.getElementsByClassName('moveEle');

                //初始化移动的权重
                var distanceW = 1;

                for (var i = 0; i < allMoveEle.length; i++) {

                    //获取当前元素权重
                    distanceW = allMoveEle[i].getAttribute('data-distanceW');

                    if (distanceW && Math.abs(delG - this.gamma) <= 60 && Math.abs(delB - this.beta) <= 120) {
                        //设置偏移
                        this.transformAll(allMoveEle[i], ((delG - this.gamma) / 1.5) * distanceW, ((delB - this.beta) / 3) * distanceW);

                        this.transformX = ((delG - this.gamma) / 1.5);

                        this.transformY = ((delB - this.beta) / 3);

                    }

                    else if (distanceW && Math.abs(delG - this.gamma) <= 60 && Math.abs(delB - this.beta) > 120) {
                        //设置偏移
                        this.transformAll(allMoveEle[i], ((delG - this.gamma) / 1.5) * distanceW, this.transformY* distanceW);

                    }

                    else if (distanceW && Math.abs(delG - this.gamma) > 60 && Math.abs(delB - this.beta) <= 120) {
                        //设置偏移
                        this.transformAll(allMoveEle[i], this.transformX* distanceW, ((delB - this.beta) / 3) * distanceW);

                    }

                    else{

                        this.transformAll(allMoveEle[i], this.transformX* distanceW, this.transformY* distanceW);

                    }
                    //初始化偏移
                    distanceW = 1;

                }

            }

        },

        //通用变化兼容性
        transformAll: function (ele, disX, disY) {

            setTimeout(function () {
                ele.style.transform = 'translate(' + disX + 'px,' + disY + 'px)';

                ele.style.webkitTransform = 'translate(' + disX + 'px,' + disY + 'px)';

            }, 200);
        },

    android: function (ms) {

        var u = navigator.userAgent;

        if (!!u.match(/Android/i)) {//安卓机型

            var allMoveEle = document.getElementsByClassName('moveEle');//当前所有可以的移动的元素

            for (var i = 0; i < allMoveEle.length; i++) {

                allMoveEle[i].style.transition = "transform "+ms+"s linear";

                allMoveEle[i].style.webkitTransform = "-webkit-transition "+ms+"s linear";
            }

        }

    }


    };

    jfshakeMove.init();
    scrollBlockMove.init();


    function judgeBrowserJump() {

        if (browser.supplier.wechat) {  //判断是否微信内置浏览器

            window.location.href = "https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5Nzk2OTQ1MA==#wechat_redirect";

        }
        else {
            window.location.href = "http://www.jia-fu.cn/download/app";
        }

    }


    //确认订单上拉框

    var orderDragUp = new jfFrameDrag.dragEleshow({

        "targetButton": "service_telephone",//点击的目标元素。ID选择器

        // "targetDragName":"frame_checkorder",//出现的目标元素，calss选择器

        "hideButton": "drop_down_delete"//关闭按钮，class选择器

    });



    /*地址选择弹出框*/
    $('.frame').on('click',function () {

        $('#area_block_show').css('display','block')


        setTimeout(function () {
            $('#area_block_show').addClass('show');

            $('.area_black_box').addClass('show');
        },10);


        $('.area_black_box').css('display','block')




        $('#area_block_show').find('.area_block_show_title').html(
            $(this).find('.area_title').html()
        );

        $('#area_block_show').find('.area_block_show_address').html(
            $(this).find('.area_address').html()
        );

        $('#area_block_show').find('.area_block_show_telphone').html(
            $(this).find('.area_telphone').html()
        );

    })

    $('.show_delete').on('click',function () {



            $('.area_black_box').css('display','none').removeClass('show');

            $('#area_block_show').css('display','none').removeClass('show');
    })

    $('.area_black_box').on('click',function () {




        $('.area_black_box').css('display','none').removeClass('show');

        $('#area_block_show').css('display','none').removeClass('show');

    })








</script>

</html>