<!-- part 3 平台优势-->
<div class="part3_content">
    <div class="bg">
        <!-- title -->
        <div class="part3_title">
            <div class="title_img"></div>
            <div class="title_text">产品特点</div>
        </div>
        <!-- content -->
        <div class="content_box">
            <div class="computer"></div>
            <div class="advantage">
                <div class="ad_1">
                    <span>整合优势：</span> 整合成熟O2O资源，更易匹配企业与员工需求。
                </div>
                <div class="ad_2">
                    <span>供应商优势：</span> 京东、爱康国宾等国内拥有一手供应商资源最多最全的企业福利<p>供应单位。</p>
                </div>
                <div class="ad_3">
                    <span>行业优势：</span> 融合HR行业所涉各项服务，形成完整的行业链条，实现共赢。
                </div>
                <div class="ad_4">
                    <span>技术优势：</span> 强大的亿级数据处理能力，24小时服务器安全监控。
                </div>
                <div class="ad_5">
                    <span>服务优势：</span> 多年福利平台开发运营经验，业务理解深刻，全国性资源整合能力强。
                </div>
            </div>
        </div>
    </div>
</div>