<div class="banner_bg">
    <div class="part1_content">
        <div class="light"></div>
        <!-- 嘉福平台-->
        <div class="jf">
            <div class="sun">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
        <!--员工-->
        <div class="staff">
            <div class="star_blue"></div>
            <div class="staff_text">
                <ul>
                    <li>◆ 员工自由选择，福利消费不再单调枯燥。</li>
                    <li>◆ 衣食住行各类场景应有尽有。</li>
                </ul>
            </div>
        </div>
        <!-- 企业 -->
        <div class="company">
            <div class="star_purple"></div>
            <div class="company_text">
                <ul>
                    <li>◆ 资深顾问1对1服务提供方案，老板、HR省心省力。</li>
                    <li>◆ 福利发放一键搞定，财务轻松，安全快捷。</li>
                </ul>
            </div>
        </div>
        <!-- 商户 -->
        <div class="business">
            <div class="star_green"></div>
            <div class="business_text">
                <ul>
                    <li>◆ 各类优选商户，为企业带来专属优质服务。</li>
                    <li>◆ 特惠商品定时秒杀，想不到的惊喜。</li>
                </ul>
            </div>
        </div>
    </div>
</div>