<!-- part 2 产品特点-->
<div class="part2_content">
    <!-- title -->
    <div class="part2_title">
        <div class="title_img"></div>
        <div class="title_text">产品特点</div>
    </div>
    <!-- content -->
    <div class="content_box">
        <div class="text">
            <!--弹性福利 -->
            <div class="point">
                <div class="illustrate">
                    <p class="title_right">弹性福利</p>
                    <p>福利预支、福利增值、企业食堂团餐，企业周边商户会员卡集成。</p>
                </div>
                <div class="circle_icon">
                    <img src="images/pi_2_icon1.png">
                </div>
            </div>
            <!-- 产品多样化 -->
            <div class="point">
                <div class="illustrate">
                    <p class="title_right">产品多样化</p>
                    <p class="turn">打通各类产品，消费场景多样化。</p>
                </div>
                <div class="circle_icon">
                    <img src="images/pi_2_icon2.png">
                </div>
            </div>
            <!-- 专业服务 -->
            <div class="point">
                <div class="illustrate">
                    <p class="title_right">专业服务</p>
                    <p>拥有多年HR、财务专业经验的咨询团队，量身定制解决方案。 </p>
                </div>
                <div class="circle_icon">
                    <img src="images/pi_2_icon3.png">
                </div>
            </div>
        </div>
        <!-- 手机轮播-->
        <div class="hand_phone">
            <div class="finger"></div>
            <div class="hand_click"></div>
            <div class="screen">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="images/pi_2_handscreen1.png"></div>
                        <div class="swiper-slide"><img src="images/pi_2_handscreen2.png"></div>
                        <div class="swiper-slide"><img src="images/pi_2_handscreen3.png"></div>
                        <div class="swiper-slide"><img src="images/pi_2_handscreen4.png"></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination" style="bottom: -5px; z-index: 99"></div>
                </div>
            </div>
        </div>
        <div class="text right">
            <!-- 信息安全 -->
            <div class="point">
                <div class="illustrate">
                    <p>信息安全</p>
                    <p>上海浦东金融云数据中心，信息传输全SSL加密，数据实时4点热备份。</p>
                </div>
                <div class="circle_icon">
                    <img src="images/pi_2_icon4.png">
                </div>
            </div>
            <!-- 个性定制 -->
            <div class="point">
                <div class="illustrate">
                    <p>个性定制</p>
                    <p>产品可灵活配置，根据客户不同场景需求差异化定制。</p>
                </div>
                <div class="circle_icon">
                    <img src="images/pi_2_icon5.png">
                </div>
            </div>
            <!-- 使用方便 -->
            <div class="point">
                <div class="illustrate">
                    <p>使用方便</p>
                    <p>员工使用微信或APP操作方便快捷。</p>
                </div>
                <div class="circle_icon">
                    <img src="images/pi_2_icon6.png">
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>