<!--立即注册-->
<div class="register">
    <div class="register_now">
        <div class="text">现在开始，就使用嘉福。</div>
        <a class="register_btn" href="http://e.jia-fu.cn" target="_blank">企业登录</a>
    </div>
</div>