<!-- part 3 平台优势-->
<div class="part3_content">
    <div class="bg">
        <!-- title -->
        <div class="part3_title">
            <div class="title_img"></div>
            <div class="title_text">平台优势</div>
        </div>
        <!-- content -->
        <div class="content_box">
            <!-- list 1-->
            <div class="list">
                <div class="icon_title">
                <div class="op_icon"><img src="images/op_3_icon1.png"></div>
                <div class="title">省心，省力</div>
                    </div>
                <div class="explian">
                    专业、合规的解决方案，直击企业薪酬福利管理痛点，让管理者省心省力，安全高效。提供专业咨询服务，协助企业制定产品、技术对接方案。
                </div>
            </div>
            <!-- list 2-->
            <div class="list">
                <div class="icon_title">
                <div class="op_icon"><img src="images/op_3_icon2.png"></div>
                <div class="title">提供丰富的使用场景</div>
                    </div>
                <div class="explian">
                    产品体验优良，规模化商品采购优惠价格，后台整合多家供应商技术接口。完善的企业账户，员工账户体系，可结合自己的应用和供应商搭建丰富的使用场景。
                </div>
            </div>
            <!-- list 3-->
            <div class="list">
                <div class="icon_title">
                <div class="op_icon"><img src="images/op_3_icon3.png"></div>
                <div class="title">专业资深技术团队</div>
                    </div>
                <div class="explian">
                    差额纳税模式、稳定可靠的交易平台，整合多种税优产品的合作商户。电商、第三方支付背景技术团队，资深企业薪酬福利顾问，全国性资源布局。
                </div>
            </div>
            <!-- list 4-->
            <div class="list">
                <div class="icon_title">
                <div class="op_icon"><img src="images/op_3_icon4.png"></div>
                <div class="title">稳定可靠，数据安全</div>
                    </div>
                <div class="explian">
                    提供业务运营培训服务、技术开发指导、UI设计服务、源代码示例等。让用户快速入手。所有接口通过https访问，安畅云机房，位于上海浦东的金融数据中心，实时镜像四份备份，数据万无一失。
                </div>
            </div>
        </div>
    </div>
</div>