<!--part1 star banner-->
<div class="banner_bg">
    <div class="part1_content">
        <div class="computer"></div>
        <!-- scene -->
        <p class="first">“</p>
        <div class="scene">
            <div class="box">
                <div class="title">场景<span>1</span></div>
                <div class="content">
                    我有自己员工平台，如网站、app、 微信服务号，希望在我的平台实现福利服务，后台对接嘉福。
                </div>
            </div>
            <div class="box">
                <div class="title">场景<span>2</span></div>
                <div class="content">
                    我没有员工平台，希望使用嘉福现有功能页面给员工服务。
                </div>
            </div>
            <div class="box">
                <div class="title">场景<span>3</span></div>
                <div class="content">
                    我有大量员工需要解决福利、薪资快速高效的发放问题，希望通过嘉福服务实现。
                </div>
            </div>
        </div>
        <p class="last">”</p>
    </div>
</div>