<div class="part4_content">
    <div class="bg">
        <!-- title -->
        <div class="part4_title">
            <div class="title_img"></div>
            <div class="title_text">平台案例</div>
        </div>
        <!-- content -->
        <div class="content_box">
            <!-- box 1-->
            <div class="case_box">
                <div class="head_portrait"><img src="images/op_4_p1.png"></div>
                <div class="title">某大型人力资源服务平台</div>
                <div class="describe">
                    <p>该平台有自己的弹性福利商城，通过引入嘉福对接，使得自有弹性福利平台的商品库得到大范围扩充，节省大量供应商对接成本。同时家督提供优质的对账结算服务，节省了该平台的人工运营成本。</p>
                </div>
            </div>
            <!-- box 2-->
            <div class="case_box">
                <div class="head_portrait"><img src="images/op_4_p2.png"></div>
                <div class="title">某大型央企集团</div>
                <div class="describe">
                    <p>改央企集团在全国有近千家的子公司和周边服务企业，近10万分布广泛的员工。该企业员工ERP系统对接加嘉福，实现企业一站式多样化薪资福利发放。员工满意度大大提高。</p>
                </div>
            </div>
            <!-- box 3-->
            <div class="case_box">
                <div class="head_portrait"><img src="images/op_4_p3.png"></div>
                <div class="title">某国际化云计算服务商</div>
                <div class="describe">
                    <p>改平台自主搭建了用户积分商城系统，通过嘉福对接，低成本、高效的实现积分兑换电子卡券、话费充值、油卡充值等场景。</p>
                </div>
            </div>
            <!-- box 4-->
            <div class="case_box">
                <div class="head_portrait"><img src="images/op_4_p4.png"></div>
                <div class="title">某互联网众包工作平台</div>
                <div class="describe">
                    <p>该平台每日有近千万活跃用户获得工作薪资收入，听过对接嘉福，该平台实现用户7×24小时实时发放，到账户准确率高，用户满意度较好。极大提升该平台的行业竞争力。</p>
                </div>
            </div>

        </div>
    </div>
</div>