<!-- part 2 产品特点-->
<div class="part2_content">
    <div class="bg">
        <!-- title -->
        <div class="part2_title">
            <div class="title_img"></div>
            <div class="title_text">福利互联网+，和您一起共创精彩</div>
        </div>
        <!-- content -->
        <div class="content_box">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="pointer_c1">
                <p></p>
                <p>嘉福基础服务</p>
            </div>
            <div class="pointer_c2">
                <p></p>
                <p>不断丰富的平台</p>
                <p>能力和服务!</p>
            </div>
        </div>
    </div>
</div>