<div class="about_us_history">
    <!--标题-->
    <div class="page_title">
        <p class="title_English"></p>

        <P class="title_chinese">发展历程</P>
    </div>

    <div class="history">

      <!--  <div class="history_bg"><img src="../images/history.png"></div>-->
        <div class="year2014_4">
            <h3 class="title">嘉福成立</h3>
            <h3 class="year">2014</h3>
            <p class="month">4<span>月</span></p>
            <p class="details_text">公司成立。嘉福平台上线，内部试商用。</p>
        </div>

        <div class="year2014_11">
            <h3 class="year">2014</h3>
            <p class="month">11<span>月</span></p>
            <p class="details_text">北京，沈阳分公司开业，嘉福平台正式对外提供服务</p>
            <h3 class="title">北京，沈阳分公司开业</h3>
        </div>

        <div class="year2015_01">
            <h3 class="title">完成天使轮融资</h3>
            <h3 class="year">2015</h3>
            <p class="month">1<span>月</span>
            <p class="details_text">深圳分公司开业。中标Nokia后完成天使轮融资，飞图创投、英诺天使等进入。<p/>
        </div>

        <div class="year2016_05">
            <h3 class="year">2016</h3>
            <p class="month">5<span>月</span></p>
            <p class="details_text">新开北京二部、上海二部、杭州、合肥等多家分公司。</p>
            <h3 class="title">华东、华北地区多家分公司开业</h3>
        </div>

        <div class="year2016_08">
            <h3 class="title">单月交易额突破一亿</h3>
            <h3 class="year">2016</h3>
            <p class="month">8<span>月</span></p>
            <p class="details_text">单月交易额突破1亿，客户数超过1000+家。新开大连、北京三部、成都等多家分公司。</p>
        </div>

        <div class="year_new">
            <h3 class="year">2016</h3>
            <p class="month">10<span>月</span></p>
            <p class="details_text">新版移动支持多种机型，UI界面简洁大方，用户体验更快更方便</p>
            <h3 class="title">嘉福移动端平台全新发布</h3>
        </div>

        <div class="tree_text">
            <p class="big_text">携手未来</p>
            <p>2016年嘉福平台总收入超过2000多万，同比增长超10倍。<span>2017</span>让我们谱写新的篇章...</p>
        </div>


    </div>

</div>