<div class="about_us_history">
    <!--标题-->
    <div class="page_title">
        <p class="title_English"></p>

        <P class="title_chinese">发展历程</P>
    </div>

    <div class="history">
        <div class="Event_history position1">
            <div class="hisrory_frame">
                <img src="images/year-history/Dialog-box_4.png" class="year">
            </div>
            <div class="company-history">
                <div class="middle">
                    <div class="left">
                        <p class="five">5<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">成功应对营改增，业务平滑过渡</p>
                    </div>
                </div>
                <div class="middle">
                    <div class="left">
                        <p class="five">6<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">完成天使轮融资，业务战略转向聚焦中小客服</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Event_history position2">
            <div class="hisrory_one">
                <img src="images/year-history/Dialog-box_3.png" class="year">
            </div>
            <div class="company-history">
                <div class="middle">
                    <div class="left">
                        <p class="five">8<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">公司成立，嘉福平台立顶</p>
                    </div>
                </div>
                <div class="middle">
                    <div class="left">
                        <p class="five">5<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">嘉福平台上线试运行</p>
                    </div>
                </div>
                <div class="middle">
                    <div class="left">
                        <p class="five">12<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">上海、北京、沈阳先后开业，签约诺基亚全国福利项目</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Event_history position3">
            <div class="hisrory_one">
                <img src="images/year-history/Dialog-box_5.png" class="year">
            </div>
            <div class="company-history">
                <div class="middle">
                    <div class="left">
                        <p class="five">2<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">完成A轮融资，加快全国展业步伐，深圳、杭州、大连先后开业</p>
                    </div>
                </div>
                <div class="middle">
                    <div class="left">
                        <p class="five">9<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">开放平台上线，个人增值和薪资预支上线</p>
                    </div>
                </div>
                <div class="middle">
                    <div class="left">
                        <p class="five">12<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">汇卡宝上线，开始为企业管理午餐补贴</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Event_history position4">
            <div class="hisrory_one" >
                <img src="images/year-history/Dialog-box_1.png" class="year">
            </div>
            <div class="company-history">
                <div class="middle">
                    <div class="left">
                        <p class="five">2<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">广州、成都、天津、无锡、合肥、济南、青岛、新疆等先后开业</p>
                    </div>
                </div>
                <div class="middle">
                    <div class="left">
                        <p class="five">4<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">合规整改，工资账户和福利集市先后推出</p>
                    </div>
                </div>
                <div class="middle">
                    <div class="left">
                        <p class="five">10<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">启动薪酬平台立顶</p>
                    </div>
                </div>
                <div class="middle">
                    <div class="left">
                        <p class="five">12<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">平台收到增长迅猛，完成规模化盈利</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Event_history position5">
            <div class="hisrory_one" >
                <img src="images/year-history/Dialog-box_2.png" class="year">
            </div>
            <div class="company-history">
                <div class="middle">
                    <div class="left">
                        <p class="five">4<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">启动报销项目内部立项，嘉薪项目天使轮融资</p>
                    </div>
                </div>
                <div class="middle">
                    <div class="left">
                        <p class="five">6<span class="mone-one">月</span></p>
                    </div>
                    <div class="right">
                        <p class="Event">平台发布新的产品定价管理办法，平台消费明显提升</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>