<!--投资方-->
<div class="about_us_investor">
    <!--标题-->
    <div class="page_title">
        <p class="title_English"></p>

        <P class="title_chinese">投资方</P>

    </div>
    <!--公司-->
    <div class="company">
        <div class="3_gloden">
            <img src='images/3golden_logo.png'>
            <p>金电联行（北京）信息技术有限公司成立于2007年，是一家融信息技术研发、金融与信用服务于一体的国家高新技术企业。</p>
        </div>
        <div>
            <img src='images/innovation_logo.png'>
            <p>管理团队成员历史投资项目超过100个，包括中国前五大网游之游族、第七大道、e代驾、美团等，拥有多个上市/并购案例，大部份天使项目均获得A轮以上投资。</p>
        </div>
        <div>
            <img src=images/flyfot_logo1.png>
            <p>专注 TMT 领域的早期投资基金，基金的主要投资方向为： O2O ， B2B ，互联网金融，在线教育，移动医疗，大数据及人工智能，虚拟现实，增强现实，游戏， APP 等。</p>
        </div>
    </div>

</div>