<div class="about_team">

    <!--标题-->
    <div class="page_title">
        <p class="title_English"></p>

        <P class="title_chinese">团队建设</P>
    </div>

    <div class="team_picture">

        <div class="pictures">
        </div>


    </div>

</div>