<!--地址选择弹出框-->


<div id="area_block_show">
    <div class="area_message">
        <div class="area_block_show_title">
            <div class="show_title">北京</div>
        </div>
        <div class="show_delete"><img src="images/page_one/icon-delete.png"/></div>
        <div class="area_block_show_address">地址：北京市朝阳区光华路甲8号和乔大厦A座406室</div>
        <div class="area_block_show_telphone"><a href="tel:010-57185561">010-57185561</a></div>


    </div>


    <div class="area_black_box"></div>




</div>
