<div class="page_six">
    <!--嘉福官方网站第六页
    金俊菲-->
    <!--图标-->
    <!--<div class="page_six_icon"><img src="../../images/page_six/icon-jiafu.png"/></div>-->
    <!--标题-->
    <div class="page_six_title">
        <div class="page_six_title_english">COOPERATIVE</div>
        <div class="page_six_title_chinese">嘉福合作伙伴</div>
        <div class="page_six_title_icon"><img src="../../images/page_six/icon-line.png"/> </div>
    </div>
    <!--合作伙伴-->
    <div class="page_six_cooperative">
        <div class="page_six_icon">
            <div>
                <img src="../../images/page_six/icon-LOCK.png"/>
                <div>乐扣乐扣</div>
            </div>

            <div>
                <img src="../../images/page_six/icon-Meituan.png"/>
                <div>美团</div>
            </div>

         <div>
             <img src="../../images/page_six/icon-HanKowThames.png"/>
             <div>大众点评</div>
         </div>

        </div>

        <div class="page_six_icon">
            <div>
                <img src="../../images/page_six/icon-China-Mobile.png"/>
                <div>中国移动</div>
            </div>

            <div>
                <img src="../../images/page_six/icon-Alipay.png"/>
                <div>支付宝</div>
            </div>

            <div>
                <img src="../../images/page_six/icon-Thermos.png"/>
                <div>膳魔师</div>
            </div>

        </div>

        <div class="page_six_icon">
            <div>
                <img src="../../images/page_six/icon-Sunning.png"/>
                <div>苏宁易购</div>
            </div>

            <div>
                <img src="../../images/page_six/icon-lqiyi.png"/>
                <div>爱奇艺</div>
            </div>

            <div>
                <img src="../../images/page_six/icon-sephora.png"/>
                <div>丝芙兰</div>
            </div>

        </div>


        <div class="page_six_icon">
            <div>
                <img src="../../images/page_six/icon-shopone.png"/>
                <div>1号店</div>
            </div>

            <div>
                <img src="../../images/page_six/icon-Vip.png"/>
                <div>唯品会</div>
            </div>

            <div>
                <img src="../../images/page_six/icon-JingDong.png"/>
                <div>京东</div>
            </div>

        </div>

        <div class="page_six_icon">
            <div>
                <img src="../../images/page_six/icon-Amazon.png"/>
                <div>亚马逊</div>
            </div>

            <div>
                <img src="../../images/page_six/icon-ctrip.png"/>
                <div>携程旅行</div>
            </div>

            <div>
                <img src="../../images/page_six/icon-chaina-unicom.png"/>
                <div>中国联通</div>
            </div>

        </div>

        <div class="page_six_icon">
            <div>
                <img src="../../images/page_six/icon-Sinopec.png"/>
                <div>中国石化</div>
            </div>

            <div>
                <img src="../../images/page_six/icon-levis.png"/>
                <div>李维斯</div>
            </div>

            <div>
                <img src="../../images/page_six/icon-Metro-traffic.png"/>
                <div>地铁交通</div>
            </div>

        </div>

    </div>
</div>