<div class="page_seven">
    <!--嘉福官方网站第七页
    金俊菲-->
    <!--图标-->
   <!-- <div class="page_seven_icon"><img src="../../images/page_seven/icon-jiafu.png"/></div>-->
    <!--标题-->
    <div class="page_seven_title">
        <div class="page_seven_title_english">REGISTER NOW</div>
        <div class="page_seven_title_chinese">开启您的嘉福之旅</div>
        <div class="page_seven_title_icon"><img src="../../images/page_seven/icon-line.png"/></div>
    </div>
    <!--注册-->
    <div class="page_seven_key">
        <div class="page_seven_key_between">
            <div>企业登录</div>
        </div>

    </div>

    <div class="page_seven_bottom">
        <div class="page_seven_line"></div>
        <div class="page_seven_icon">
            <div class="icon">
                <div class="icon_one">
                    <img src="../../images/page_seven/icon-people.png"/>
                </div>
                <div class="text">
                    <div class="text_one">2,000+</div>
                    <div class="text_one_text">企业客户</div>
                </div>
            </div>


            <div class="icon">
                <div class="icon_one">
                    <img src="../../images/page_seven/icon-key.png"/>
                </div>
                <div class="text">
                    <div class="text_one">200,000+</div>
                    <div class="text_one_text">服务员工</div>
                </div>
            </div>


            <div class="icon">
                <div class="icon_one">
                    <img src="../../images/page_seven/icon-uptrend.png"/>
                </div>
                <div class="text">
                    <div class="text_one">近十亿</div>
                    <div class="text_one_text">交易额</div>
                </div>
            </div>


        </div>
        <div class="bottom_text">
            <div class="bottom_text_one">
                <div class="bottom_one">
                    <div class="title">
                        <div>
                            <img src="../../images/page_seven/icon-wechat.png"/>
                        </div>
                        <div>咨询顾问</div>
                    </div>
                    <div class="title_text">
                        <p>服务时间:周一至周五(9:00-17:30)</p>
                        <p>友情链接:<a>
                            <img src="../../images/page_seven/icon-HanKow.png"/>
                            <img src="../../images/page_seven/icon-Liehu.png"/>
                        </a></p>
                    </div>


                </div>

            </div>
            <div class="bottom_line_one"></div>
            <div class="bottom_text_two">
                <div class="bottom_two">
                    <div class="title_one">CONTACT</div>
                    <div class="title_text_one">地址:上海市徐汇区虹桥路808号加华商务中心D5栋3楼</div>


                </div>

            </div>
        </div>
        <div class="bottom_line"></div>


        <div class="bottom_vallue">
            <div class="vallue">
                <div class="vallue_one">Copyright 2014-2016 www.jia-fu.cn All Rights Reserved.</div>
                <div class="vallue_text">沪ICP备14041032</div>

            </div>





        </div>
    </div>




</div>