<div class="page_five">
    <!--嘉福官方网站第五页
    金俊菲-->
    <!--图标-->
<!--    <div class="page_five_icon"><img src="../../images/page_five/icon-jiafu.png"/></div>-->
    <!--标题-->
    <div class="page_five_title">
        <div class="page_five_title_english">WHY CHOOSE</div>
        <div class="page_five_title_chinese">为什么选择嘉福</div>
        <div class="page_five_title_icon"><img src="../../images/page_five/icon-line.png"/> </div>
    </div>
    <!--利益点-->
    <div class="page_five_benefit">

        <div class="page_five_line">
            <div class="line_line"></div>
            <div class="page_five_line_one">

                <div class="page_five_line_circle"></div>

                <div class="page_five_line_circle">
                    <div class="page_five_text">
                        <img src="../../images/page_five/icon-computer-one.png"/>
                        <div class="text_one">用户满意度增加</div>
                        <div class="text_two">企业成本最小化员工满意度最大化</div>

                    </div>
                </div>

                <div class="page_five_line_circle">
                        <div class="page_five_text">
                            <img src="../../images/page_five/icon-dialog.png"/>
                            <div class="text_one">灵活组合福利</div>
                            <div class="text_two">弹性福利灵活组合的自主化福利平台</div>

                        </div>
                    </div>

                <div class="page_five_line_circle">
                    <div class="page_five_text">
                        <img src="../../images/page_five/icon-notebook.png"/>
                        <div class="text_one">一站式福利平台</div>
                        <div class="text_two">一站式福利平台福利分配管理兼容企业原有供应商</div>

                    </div>
                </div>
                <div class="page_five_line_circle">
                    <div class="page_five_text">
                        <img src="../../images/page_five/icon-pen.png"/>
                        <div class="text_one">贴合员工需求</div>
                        <div class="text_two">平台福利数据反馈更能合理决策紧随员工需求</div>

                    </div>
                </div>
                <div class="page_five_line_circle">
                    <div class="page_five_text">
                        <img src="../../images/page_five/icon-computer-one.png"/>
                        <div class="text_one">用户满意度增加</div>
                        <div class="text_two">企业成本最小化员工满意度最大化</div>

                    </div>
                </div>




            </div>
        </div>







    </div>
    <!--月球-->
    <div class="page_five_moon">
        <div class="moon_shadow"><img src="../../images/page_five/icon-moon-shadow.png"/></div>
        <div class="moon_circle"><img src="../../images/page_five/icon-moon.png"/> </div>

    </div>

</div>