<div class="page_one">
    <!--嘉福官网第一页
    金俊菲-->
    <!--导航-->
    <div class="pageone_nav">

        <div class="pageone_nav_icon">
            <div class="pageone_nav_icon_one"><img src="../../images/page_one/icon-company.png"></div>
            <div class="pageone_nav_icon_two"><img src="../../images/page_one/icon-line.png"></div>
            <div class="passone_nav_icon_text">&#x5609;&#x798F;&#x5F39;&#x6027;&#x798F;&#x5229;&#x5E73;&#x53F0;</div>
        </div>
        <div class="pageone_nav_service">
            <div class="pageone_nav_service_people" onclick="jfCustomerService.click()"><img src="../../images/page_one/icon-artificial.png"></div>
            <div class="pageone_nav_service_email"><a href="mailto:sales@ijafu.com"><img src="../../images/page_one/icon-e-mail.png."></a></div>
            <div class="pageone_nav_service_telephone" id="service_telephone"><a ></a><img src="../../images/page_one/icon-telephone.png"></div>
        </div>

    </div>


  <!--  <div class="pageone_nav_rectangle"></div>-->

    <!--标题-->
    <div class="pageone_title">
        <div class="pageone_title_one">
            &#x4E00;&#x7AD9;&#x5F0F;&#x4F01;&#x4E1A;&#x670D;&#x5229;&#x4E91;&#x5E73;&#x53F0;</div>
        <div class="pageone_title_two">&#x5168;&#x573A;&#x666F;&#x5458;&#x5DE5;&#x798F;&#x5229;&#x670D;&#x52A1;&#x4F53;&#x7CFB;</div>
    </div>
    <!--图形-->
    <!--图形-->
    <div class="pageone_picture">
        <div class="pageone_picture_background moveEle" data-distanceW="0.45"></div>
        <div class="pageone_picture_star">
            <div class="pageone_picture_star_one moveEle" data-distanceW="0.75"><img src="../../images/page_one/icon-star_one_one.png"></div>
            <div class="pageone_picture_star_two moveEle" data-distanceW="0.75"><img src="../../images/page_one/icon-star_two.png"></div>
            <div class="pageone_picture_star_three moveEle" data-distanceW="0.8"><img src="../../images/page_one/icon-star_three.png"></div>
            <div class="pageone_picture_star_four moveEle" data-distanceW="0.75"><img src="../../images/page_one/icon-star_four.png"></div>
            <div class="pageone_picture_star_arrow moveEle" data-distanceW="0.6"><img src="../../images/page_one/icon-arrow.png"></div>
            <div class="pageone_picture_star_jiafu moveEle" data-distanceW="0.95"><img src="../../images/page_one/icon-jiafu.png"></div>
            <div class="pageone_picture_star_bag moveEle" data-distanceW="0.95"><img src="../../images/page_one/icon-bag.png"></div>
            <div class="pageone_picture_bag_one moveEle" data-distanceW="0.8"><img src="../../images/page_one/icon-bag-one.png"></div>
            <div class="pageone_picture_star_appale moveEle" data-distanceW="0.95"><img src="../../images/page_one/icon-apple.png"></div>

        </div>
        <div class="pageone_picture_earth">
            <div class="moveEle" data-distanceW="0.6"><img src="../../images/page_one/icon-earth_two.png" ></div>
            <div class="earth_circle moveEle" data-distanceW="0.95"><img src="../../images/page_one/icon-earth_three.png"></div>
        </div>

    </div>


    <!--利益点-->
    <div class="pageone_decorat">
        <!--宇航员-->
        <div class="pageone_decorat_one">
            <div class="pageone_decorat_one_astronaut"><img src="../../images/page_one/icon-astronaut-one.png"/></div>
            <div class="pageone_decorat_one_text"><img src="../../images/page_one/icon-hi.png"/></div>
        </div>
        <!--小地球-->
        <div class="pageone_decorat_two">
            <div class="pageone_decorat_two_earth"><img src="../../images/page_one/icon-circle.png"/></div>
        </div>
        <!--文案-->
        <div class="pageone_benefit">
            <div class="pageone_benefit_circle left_top">
                <div>
                    <div>弹性</div>
                    <div>福利</div>
                </div>
            </div>

            <div class="pageone_benefit_circle right_top">
                <div>
                    <div>福利</div>
                    <div>增值</div>
                </div>
            </div>

            <div class="pageone_benefit_circle right_bottom">
                <div>
                    <div>薪酬</div>
                    <div>代发</div>
                </div>
            </div>
            <div class="pageone_benefit_circle left_bottom">
                <div>
                    <div>咨询</div>
                    <div>培训</div>
                </div>
            </div>


        </div>
        <!--线-->
        <div class="pageone_benefit_line">

        </div>
        <!--箭头-->
        <!--<div class="pageone_benefit_arrow"><img src="../../images/page_one/icon-arrow-one.png"/> </div>-->
    </div>
    <!--按钮-->
    <div class="pageone_key">
        <div class="pageone_key_bottom">
            <img src="../../images/page_one/icon-key-one.png"/>我是企业
        </div>
        <div class="pageone_key_bottom">
            <img src="../../images/page_one/icon-key-two.png"/>我是员工
        </div>
    </div>
    <!--月球-->
    <div class="page_one_moon">
        <div class="moon_shadow"><img src="../../images/page_one/icon-moon-shadow.png"/></div>
        <div class="moon_circle"><img src="../../images/page_one/icon-moon.png"/> </div>


    </div>
    <!--确认订单弹出层-->
    <div class="frame_drag_up">
        <div class="frame-main">
            <div class="frame_drop_down">

                <div class="drop_down_delete">
                    <div class="text_title">企业咨询</div>
                    <div class="delete"><img src="../../images/page_one/icon-delete.png"/></div>
                </div>
                <div class="drop_down_text">

                    <div class="text_telephone">
                        <a  href="tel:400-821-6990">上海 - 021-64280689</a>
                        <a href="tel:400-821-6990" >北京 - 010-56280622</a>
                    </div>

                </div>


            </div>

        </div>
        <div class="weui_mask_transition mask_drag"></div>
    </div>






</div>