<!--嘉福官方网站第四页
    金俊菲-->
<div class="page_four">
    <!--图标-->
   <!-- <div class="page_four_icon"><img src="../../images/page_four/icon-jiafu.png"/></div>-->
    <!--标题-->
    <div class="page_four_title">
        <div class="page_four_title_english">WHAT IS</div>
        <div class="page_four_title_chinese">什么是弹性福利</div>
        <div class="page_four_title_icon"><img src="../../images/page_four/icon-line.png"/> </div>
    </div>
    <!--利益点-->
    <div class="page_four_benefit">

        <div class="page_four_rocket">
            <img src="../../images/page_four/icon-rocket.png"/>

            <div class="page_four_text">
                <div class="page_four_text_one">嘉福平台</div>
                <div class="page_four_text_two">让福利更有价值</div>

            </div>

            <div class="page_four_icon">
                <img src="../../images/page_four/icon-jiafu_one.png"/>
            </div>

            <div class="page_four_sub_text">

                <div>
                    <img src="../../images/page_four/icon-company.png"/>
                    <div class="sub_text_one">企业</div>
                    <div class="sub_text_two">平台优惠降低提供合规发票多种消费模式随心选</div>
                </div>

                <div>
                    <img src="../../images/page_four/icon-people.png"/>
                    <div class="sub_text_one">员工</div>
                    <div class="sub_text_two">福利商城 福利增值 企业周边商户会员卡等多种消费模式随心选择</div>
                </div>


            </div>

        </div>



    </div>
    <!--月球-->
    <div class="page_four_moon">
        <div class="moon_shadow"><img src="../../images/page_four/icon-moon_shadow.png"/></div>
        <div class="moon_circle"><img src="../../images/page_four/icon-moon_circle.png"/> </div>


    </div>




</div>