<div class="page_add_one">

    <div class="page_add_one_title">

        <div class="title">补充医疗</div>
        <div class="img"><img src="images/page_add_one/icon-line.png"></div>
        <div class="subhead">员工保障无忧、企业稳步发展</div>

    </div>

    <div class="page_add_one_picture">
        <div class="img">
            <img src="images/page_add_one/icon_house.png">
        </div>
        <div class="img_animation">
            <img src="images/page_add_one/icon_add.png">
        </div>
    </div>

    <div class="page_add_one_benefit test_one">

        <div class="benefit">
            <div class="benefit_img">
                <img src="images/page_add_one/Employee-welfare.png">
            </div>
            <div class="benefit_detail">
                <div class="title">全新员工福利</div>
                <div class="content">保障惠及家庭，支持员工为家庭成员投保。</div>
            </div>
        </div>
        <div class="benefit">
            <div class="benefit_img">
                <img src="images/page_add_one/Preferred-criteria.png">
            </div>
            <div class="benefit_detail">
                <div class="title">优选标准套餐</div>
                <div class="content">适用不同企业的标准保障套餐</div>
            </div>
        </div>
        <div class="benefit">
            <div class="benefit_img">
                <img src="images/page_add_one/Enterprise-plan.png">
            </div>
            <div class="benefit_detail">
                <div class="title">企业定制方案</div>
                <div class="content">根据您的需求，为您定制方案</div>
            </div>
        </div>
    </div>

    <div class="page_add_one_benefit test_two">

        <div class="benefit">
            <div class="benefit_img">
                <img src="images/page_add_one/Supplier-1.png">
            </div>
            <div class="benefit_detail">
                <div class="title">优选供应商</div>
                <div class="content">代表您与保险公司谈判，通过我们专业的对接，为您争取更多利益</div>
            </div>
        </div>
        <div class="benefit">
            <div class="benefit_img">
                <img src="images/page_add_one/Increase.png">
            </div>
            <div class="benefit_detail">
                <div class="title">增减人员</div>
                <div class="content">随时增员减员，按天收费</div>
            </div>
        </div>
        <div class="benefit">
            <div class="benefit_img">
                <img src="images/page_add_one/Online-claim-settlement.png">
            </div>
            <div class="benefit_detail">
                <div class="title">在线理赔 速度快</div>
                <div class="content">医疗理赔2000元以下免收纸质单据，实时在线理赔，初审通过5个工作日完成赔付</div>
            </div>
        </div>
    </div>

</div>