
<div class="page_three">
    <!--嘉福官方网站第三页
    金俊菲-->
    <!--图标-->
    <!--<div class="page_three_icon"><img src="../../images/page_two/icon-jiafu.png"/></div>-->
    <!--标题-->
    <div class="page_three_title">
        <div class="page_three_title_english">BASIC SERVICE</div>
        <div class="page_three_title_chinese">嘉福基础服务</div>
        <div class="page_three_title_icon"><img src="images/page_two/icon-line.png"/> </div>
    </div>
    <!--箭头图形-->
    <div class="page_three_picture">
        <div class="page_three_arrow"><img src="images/page_three/icon-arrow.png"/></div>
    </div>
    <!--利益点-->
    <div class="page_three_benefit test_one">
        <div class="benefit_one">
            <img src="images/page_three/icon-people.png"/>
            <div class="text_sub_one">员工福利账户</div>
            <div class="text_sub_text">一站式解决企业薪酬福利发放问题</div>
        </div>

        <div class="benefit_one">
            <img src="images/page_three/icon-cup.png"/>
            <div class="text_sub_one">卡券兑换</div>
            <div class="text_sub_text">京东E卡 天猫卡 亚马逊 携程卡爱奇艺等50多种</div>
        </div>

        <div class="benefit_one">
            <img src="images/page_three/icon-card.png"/>
            <div class="text_sub_one">信用卡还款</div>
            <div class="text_sub_text">足不出户轻松上网还款 支持40多家知名银行</div>
        </div>



<!--
        <div class="benefit_one">
            <img src="../../images/page_three/icon-cup.png"/>
            <div class="text_two">卡券兑换</div>
            <div class="text_sub_two">京东E卡、天猫卡、</div>
            <div class="text_sub_two">亚马逊、携程卡、</div>
            <div class="text_sub_two">爱奇艺等50多种</div>
        </div>

        <div class="benefit_three">
            <img src="../../images/page_three/icon-card.png"/>
            <div class="text_three">信用卡还款</div>
            <div class="text_sub_three">足不出户轻松网</div>
            <div class="text_sub_three">上还款，支持40</div>
            <div class="text_sub_three">多家知名银行</div>

        </div>-->







    </div>

    <div class="page_three_benefit test_two">
        <div class="benefit_one">
            <img src="images/page_three/icon-shop.png"/>
            <div class="text_sub_one">电商精选</div>
            <div class="text_sub_text">平台对接了京东慧采和苏宁易购 下单实物到家</div>
        </div>

        <div class="benefit_one">
            <img src="images/page_three/icon-arrow-one.png"/>
            <div class="text_sub_one">生活充值</div>
            <div class="text_sub_text">平台对接了多种充值平台实时到达简单方便</div>
        </div>

        <div class="benefit_one">
            <img src="images/page_three/icon-basket.png"/>
            <div class="text_sub_one">商户卡券消费</div>
            <div class="text_sub_text">专款专用员工满意度企业福利带来流量平台售卡折扣</div>
        </div>



        <!--
                <div class="benefit_one">
                    <img src="../../images/page_three/icon-cup.png"/>
                    <div class="text_two">卡券兑换</div>
                    <div class="text_sub_two">京东E卡、天猫卡、</div>
                    <div class="text_sub_two">亚马逊、携程卡、</div>
                    <div class="text_sub_two">爱奇艺等50多种</div>
                </div>

                <div class="benefit_three">
                    <img src="../../images/page_three/icon-card.png"/>
                    <div class="text_three">信用卡还款</div>
                    <div class="text_sub_three">足不出户轻松网</div>
                    <div class="text_sub_three">上还款，支持40</div>
                    <div class="text_sub_three">多家知名银行</div>

                </div>-->







    </div>








</div>