<!--表格部分-->
<div class="contact_form">
    <div class="form_tilte">
        <p><span>“</span>通过以下方式联系我们<span>”</span></p>
        <p>Contact Us</p>
    </div>
    <div class="contact_form_content">


        <div class="form_left">

            <div class="email">
                <img src='images/email.png'>
                <span>sales@jiafu.com</span>
            </div>
            <div class="wechat">
                <img src='images/wechat.png'>
                <span>
                <p>400-821-6990</p>
                <p>服务时间：周一至周五（8：00-20：00）</p>
                    </span>
            </div>
            <div class="pbone">
                <img src='images/phone.png'>
                    <span>
                        <p>010-57185561</p>
                        <p>021-64280689</p>
                    </span>
            </div>

        </div>
        <div class="form_right">
            <form>
                <div>
                    <p>咨询事宜</p>
                    <select name="select">
                        <option value="请选择" hidden="" >请选择</option>
                        <option value="员工福利咨询" style="color:#000000;">员工福利咨询</option>
                        <option value="费用报销咨询" style="color:#000000;">费用报销咨询</option>
                        <option value="税务筹划咨询" style="color:#000000;">税务筹划咨询</option>
                        <option value="商务合作" style="color:#000000;">商务合作</option>
                        <option value="投诉与建议" style="color:#000000;">投诉与建议</option>
                        <option value="其他" style="color:#000000;">其他</option>
                    </select>
                </div>
                <div>
                    <p>*姓名</p>
                    <input name="text" type="text" placeholder="姓名（必填）" id="Name_CU" class="Zz1 wz1" >
                </div>
                <div>
                    <p>*公司名称</p>
                    <input name="text" type="text" placeholder="公司名称" class="Zz1 wz2">
                </div>


                <div>
                    <p>*职位</p>
                    <input name="text" type="text" placeholder="职位" class="Zz1 wz2">
                </div>

                <div>
                    <p>*联系电话</p>
                    <input name="text" type="text" placeholder="联系电话（必填）" class="Zz1 wz2" id="Phone_CU" >
                </div>
                <div>
                    <p>邮箱</p>
                    <input name="text" type="text" placeholder="邮箱" class="Zz1 wz2">
                </div>
                <div style="width: 87%">
                    <p>给我们留言</p>
                    <textarea name="text" type="text" cols="5" rows="3"placeholder="给我们留言" class="Zz1 wz2 wz3"></textarea>
                </div>
                <div></div>
                <div style="text-align: right">
                    <input type="button" name="button" value="提交信息" class="submit_btn" readonly>
                </div>

            </form>

        </div>

    </div>
</div>