
<!--地图部分-->
<div class="company_map">

    <!--地图背景-->
    <div class="map_bg">
        <img src="images/map.png">
    </div>

    <!---其他分部--成都-->
    <div class="branch_chengdu">
        <!--显示部分-->

        <div class="branch_name">
            <p>成都</p>
            <p>CHENGDU</p>
            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/chengdu.png">
        </div>

        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>成都</h3>
                    <p>地址：成都市红星路二段70号四川日报大厦B区4楼</p>
                    <p>电话：180 8111 9126</p>
                </div>
            </div>

        </div>
    </div>

    <!---其他分部--大连-->
    <div class="branch_dalian">
        <!--显示部分-->

        <div class="branch_name">
            <div>
                <p>大连</p>
                <p>DALIAN</p>
            </div>

            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/dalian.png">
        </div>

        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>大连</h3>
                    <p>地址：大连市沙河口区中山路572号星海旺座2010室</p>
                    <p>电话：0411-66851550</p>
                </div>
            </div>

        </div>
    </div>

    <!---沈阳-->
    <div class="branch_shenyang">
        <!--显示部分-->

        <div class="branch_name">
            <div>
                <p>沈阳</p>
                <p>SHENYANG</p>
            </div>

            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/dalian.png">
        </div>

        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>沈阳</h3>
                    <p>地址：沈阳市铁西区建设中路1号第一商城B座1006室</p>
                    <p>电话：024-85611182</p>
                </div>
            </div>

        </div>
    </div>

    <!--北京-->
    <div class="branch_beijing">
        <!--显示部分-->

        <div class="branch_name">
            <p>北京</p>
            <p>BEIJING</p>
            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/beijing.png">
        </div>

        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>北京</h3>
                    <p>地址：北京市朝阳区光华路甲8号和乔大厦A座406室</p>
                    <p>电话：010-57185561</p>
                </div>
            </div>

        </div>
    </div>


    <!---天津-->
    <div class="branch_tianjing">
        <!--显示部分-->

        <div class="branch_name">
            <div>
                <p>天津</p>
                <p>TIANJING</p>
            </div>

            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/tianjing.png">
        </div>

        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>天津</h3>
                    <p>地址：天津市和平区赤峰道136号天津国际金融中心712室</p>
                    <p>电话：159 2222 8062</p>
                </div>
            </div>

        </div>
    </div>


    <!--无锡-->
    <div class="branch_wuxi">
        <!--显示部分-->

        <div class="branch_name">
            <div>
                <p>无锡</p>
                <p>WUXI</p>
            </div>

            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/wuxi1.png">
        </div>
        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>无锡</h3>
                    <p>地址：无锡市梁溪区广益路188号广益街道办北门1102,1105,1106</p>
                    <p>电话：158 0619 7179</p>
                </div>
            </div>

        </div>
    </div>

    <!--合肥-->
    <div class="branch_hefei">
        <!--显示部分-->

        <div class="branch_name">

            <div>
                <p>合肥</p>
                <p>HEFEI</p>
            </div>

            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/hefei.png">
        </div>

        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>合肥</h3>
                    <p>地址：安徽省合肥市蜀山区黄山路651号汇峰大厦1214室</p>
                    <p>电话：0551-65186360</p>
                </div>
            </div>

        </div>
    </div>

    <!--深圳-->
    <div class="branch_shenzhen">
        <!--显示部分-->

        <div class="branch_name">
            <div>
                <p>深圳</p>
                <p>SHENZHEN</p>
            </div>

            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/shenzhen_new.png">
        </div>

        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>深圳</h3>
                    <p>地址：深圳市南山区软件产业基地深圳湾创业广场4C座205-G</p>
                    <p>电话：0755-86089320</p>
                </div>
            </div>

        </div>
    </div>

    <!--广州-->
    <div class="branch_guangzhou">
        <!--显示部分-->

        <div class="branch_name">
            <div>
            <p>广州</p>
            <p>GUANGZHOU</p>
            </div>
            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/shenzhen_new.png">
        </div>

        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>广州</h3>
                    <p>地址：广州市天河区黄埔大道西路33号18楼H</p>
                    <p>电话：020-37362732</p>
                </div>
            </div>

        </div>
    </div>


    <!--杭州-->
    <div class="branch_hangzhou">
        <!--显示部分-->

        <div class="branch_name">

            <div>
                <p>杭州</p>
                <p>HANGZHOU</p>
            </div>

            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/ningbo.png">
        </div>
        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>杭州</h3>
                    <p>地址：浙江省杭州市拱墅区潮王路225号红石中央大厦602室</p>
                    <p>电话：0571-85376027</p>
                </div>
            </div>

        </div>
    </div>

    <!--宁波-->
    <div class="branch_ningbo">
        <!--显示部分-->

        <div class="branch_name">

            <div>
                <p>宁波</p>
                <p>NINGBO</p>
            </div>

            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/ningbo.png">
        </div>

        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>宁波</h3>
                    <p>地址：浙江宁波市江东区中山东路1083号世纪东方COB写字楼1502室</p>
                    <p>电话：135 8885 2130</p>
                </div>
            </div>

        </div>
    </div>

    <!--上海-->
    <div class="branch_shanghai">
        <!--显示部分-->

        <div class="branch_name">
            <div>
                <p>上海</p>
                <p>SHANGHAI</p>
            </div>

            <img src="images/add_city.png">
        </div>

        <!--隐藏图片部分-->
        <div class="branch_map">
            <img src="images/shanghai1.png">
        </div>

        <!--隐藏折叠部分-->
        <div class="branch_info">
            <div class="content">
                <div class="arrow_up"></div>
                <div class="initial-content">
                    <div class="initial-content_top"></div>
                    <div class="initial-content_bottom"></div>
                </div>
                <div class="final-content">
                    <h3>上海</h3>
                    <p>地址：上海市徐汇区虹桥路808号加华商务中心D5栋3楼</p>
                    <p>电话：021-80127158</p>
                </div>
            </div>
        </div>
    </div>

</div>