




<!--图片部分-->
<div class="img_details">
    <!--标题-->
    <div class="page_title">
        <p class="title_English"></p>

        <P class="title_chinese">联系我们</P>

    </div>



    <div class="img_content">

        <!--第一行-->

        <div class="img_contents">
            <div class="container">
                <div class="flip">
                    <div class="front"><img src="images/wuxi_face.png"></div>
                    <div class="back"><img src="images/wuxi_back.png"></div>
                </div>
            </div>
            <div class="container" style="width: 410px">
                <div class="front"><img src="images/city.png" style="width: 410px"></div>
            </div>
            <div class="container">
                <div class="flip">
                    <div class="front"><img src="images/hefei_face.png"></div>
                    <div class="back"><img src="images/hefei_back.png"></div>
                </div>
            </div>
            <div class="container">
                <div class="flip">
                    <div class="front"><img src="images/dalian_face.png"></div>
                    <div class="back"><img src="images/dalian_back.png"></div>
                </div>
            </div>
        </div>

        <!--第二行-->
        <div class="img_contents">
            <div class="second_contents">

                <div class="mid_contents">
                    <div class="container">
                        <div class="flip">
                            <div class="front"><img src="images/chengdu_face.png"></div>
                            <div class="back"><img src="images/chengdu_back.png"></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="back"><img src="images/contact_create.png"></div>
                    </div>
                    <div class="container">
                        <div class="flip">
                            <div class="front"><img src="images/shanghai_face.png"></div>
                            <div class="back"><img src="images/shanghai_back.png"></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="flip">
                            <div class="front"><img src="images/jinan_face.png"></div>
                            <div class="back"><img src="images/jinan_back.png"></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="flip">
                            <div class="front"><img src="images/wulumuqi_face.png"></div>
                            <div class="back"><img src="images/wulumuqi_back.png"></div>
                        </div>
                    </div>
                </div>

                <div class="mid_contents">
                    <div class="container">
                        <div class="flip">
                            <div class="front"><img src="images/guangzhou_face.png"></div>
                            <div class="back"><img src="images/guangzhou_back.png"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="flip">
                            <div class="front"><img src="images/beijing_back.png"></div>
                            <div class="back"><img src="images/beijing_face.png"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="flip">
                            <div class="front"><img src="images/hangzhou_face.png"></div>
                            <div class="back"><img src="images/hangzhou_back.png"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="flip">
                            <div class="front"><img src="images/qingdao_face.png"></div>
                            <div class="back"><img src="images/qingdao_back.png"></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="flip">
                            <div class="front"><img src="images/ningbo_face.png"></div>
                            <div class="back"><img src="images/ningbo_back.png"></div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="second_contents">
        <!--        <div class="container" style="height: 410px">
                    <img src='images/city_one.png' style="height: 410px">
                </div>-->
            </div>

         <!--   <div class="second_contents">

                <div class="container">
                    <div class="flip">
                        <div class="front"><img src="images/ningbo_face.png"></div>
                        <div class="back"><img src="images/ningbo_back.png"></div>
                    </div>
                </div>
            </div>-->
        </div>

        <!--第三行-->
        <div class="img_contents">
            <div class="container">
                <div class="front"><img src="images/contact_unity.png"></div>

            </div>
            <div class="container">
                <div class="flip">
                    <div class="front"><img src="images/shenzhen_face.png"></div>
                    <div class="back"><img src="images/shenzhen_back.png"></div>
                </div>
            </div>
            <div class="container">
                <div class="front"><img src="images/contact_honesty.png"></div>
            </div>
            <div class="container">
                <div class="flip">
                    <div class="front"><img src="images/shenyang_face.png"></div>
                    <div class="back"><img src="images/shenyang_back.png"></div>
                </div>
            </div>
            <div class="container">
                <div class="flip">
                    <div class="front"><img src="images/tianjing_face.png"></div>
                    <div class="back"><img src="images/tianjing_back.png"></div>
                </div>
            </div>


        </div>

    </div>

</div>
